aniso8601==7.0.0
asgiref==3.7.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
dateparser==1.1.8
defusedxml==0.7.1
Django==4.2.2
django-embed-video==1.4.9
django-extensions==3.2.3
django-jazzmin==2.6.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==2.0.2
idna==3.4
oauthlib==3.2.2
Pillow==10.1.0.dev0
promise==2.3
prompt-toolkit==2.0.9
pycparser==2.21
pydotplus==2.0.2
PyJWT==2.7.0
pyparsing==3.1.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
Rx==1.6.3
six==1.16.0
social-auth-core==4.4.2
SQLAlchemy==1.4.48
sqlparse==0.4.4
tornado==6.3.2
tzlocal==5.0.1
urllib3==2.0.3
wcwidth==0.2.6
