/* BODY */

body {
  background-color: #22549E;
  margin: 0;
  padding: 0;
}

*{
font-family: 'Rubik', sans-serif !important;
}
/* ----------------------------------------- */

.courses_sectors_images{
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 3%;
}

.courses_sectors_images img{
width: 100%;
border-radius: 20px;
background-color: inherit;
}

.training_sectors_images img{
border-radius: 35px;
}

.training_sectors_images img:hover{
box-shadow: 5px 5px 4px 3px rgba(0,0,0,0.14);
transition: 500ms;
}

.courses_sectors_images img:hover{
box-shadow: 3px 4px 5px 5px rgba(0,0,0,0.14);
transition: 500ms;
}

/* ALL PAGE */

.all_page {
  width: 100%;
  display: flex;
}

.all_page .side_bar {
  width: 20%;
  margin: 20px 0px 20px 20px;
}

.all_page .content {
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 77%;
  margin: 20px;
  padding: 20px;
}

.quiz{
  padding: 30px;
  box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  overflow-y: scroll;
  max-height: 570px;
}

.essay {
width: 145px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
border: none;
background: #1F4989;
border-radius: 7px;
color: #fff;
font-size: 14px;
transition-duration: .25s;
}

/* ---------------------------------------- */

/* SIDE BAR */

.side_bar {
  text-align: center;
}

/* SIDE BAR - LOGO */

a {
  color: white;
  font-family: Roboto;
  text-decoration: none;
}


.side_bar_student{
display: flex;
align-items: center;
margin-top: 2%;
}

.side_bar_answers{
display: flex;
align-items: center;
margin-top: 2%;
}

.side_bar_logo_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.side_bar_logo_text {
  margin-left: 5%;
  font-size: 24px;
  font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar_general {
  display: flex;
  align-items: center;
  width: 110%;
  border-radius: 20px 0 0 20px;
  margin-top: 2%;
}

.side_bar_links {
  margin-top: 30%;
  margin-left: 10%;
}

.side_bar_img {
  margin-left: 5%;
}

.side_bar_text {
  margin-left: 5%;
  font-size: 100%;
}

.side_bar_courses {
  display: flex;
  align-items: center;
}

.side_bar_general p a {
  color: #FB6D3A;
}

.support-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 10%;
  position: relative;
}

.support-content {
  position: absolute;
  top: 10px;
  left: auto;
  bottom: auto;
}

.support-img img {
  width: 210px;
}

.support-img {
  margin-top: 25%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.support-img img {
  width: 70%;
  height: 100%;
}
.side_bar_timeTable {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_settings {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

/* SEARCH INPUT */

/* this is a recreation of twitter search in css */
.content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.form {
  --input-text-color: #1b9bee;
  --input-bg-color: #F6F6F5;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 100%;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}

/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
  width: 90%;
  height: 37px;
}

/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  display: flex;
  align-items: center;
}

.search,
.close-btn {
  position: absolute;
}

/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}

/* svg -- size */


/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}

/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}

/* input background change in focus */
.input:focus~.fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}

/* search icon color change in focus */
.input:focus~.search {
  fill: var(--active-color);
}

/* showing close button when typing */
.input:valid~.close-btn {
  opacity: 1;
  visibility: visible;
}

/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

/* notification-img-style */

/* <!-- theme lesson --> */

.theme {
  margin-top: 8%;
}

.theme:first-child {
  margin-top: 2%;
}

.theme ol {
margin: 0;
padding: 0;
padding-left: 18px;
}

/* video_course */

/* variant style */

.variant {
  border: 1px solid #00538E;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.variant p{
  padding-right: 88%;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.checkbox .checkmark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.checkbox input[type="radio"]:checked {
  background-color: #fff;
  border-color: #000;
}

.checkbox input[type="radio"]:checked:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  transition: transform 0.2s ease;
  transform: scale(1);
}

.checkbox input[type="radio"]:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.2s ease;
}

.checkbox input[type="radio"]:checked .variant{
  color: #fff;
  background: #000 !important;
  border: 1px solid #000 !important;
}

/* lesson */

.element {
  display: flex;
}

.elementText {
  margin-top: 1%;
}

.elementText h3 {
  font-size: 14px;
  color: #181B1A;
}

.elementText p {
  margin-top: 1%;
  color: #B3B6B6;
  font-size: 10px;
}

.line {
  border-bottom: 1px solid #F1F1EF;
}

.element-img {
  margin-top: 5%;
}

/* lesson images */

.lesson-img {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.lesson-img img {
  height: 90%;
}


/* next img */
.nextBtn{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nextBtn a img{
  width: 60px;
}

.back{
  transform: rotate(180deg);
  margin-top: 30%;
  margin-right: 5%;
}

.send img {
  user-select: none; /* Запретить выделение текста и изображений */
  -moz-user-select: none; /* Для поддержки в Firefox */
  -webkit-user-drag: none; /* Для поддержки в браузерах на основе WebKit */
  -webkit-user-select: none; /* Для поддержки в браузерах на основе WebKit */
  -ms-user-select: none; /* Для поддержки в Internet Explorer/Edge */
}

.send{
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.reply-input{
  outline: none;
  background: #FFFFFF;
  border: 1px solid #0094FF;
  border-radius: 14px;
  width: 90%;
  height: 35px;
  padding-left: 5px;
}

.reply form{
  display: flex;
  align-items: center;
  
  margin-top: 5%;
}

.chat{
  border: 1px solid #D0D0D0;
  border-radius: 20px;
  padding-bottom: 5%;
  overflow: auto;
  margin-bottom: 20px;
  margin-top: 5%;
}

.comment-text{
  color: #8E1DE8;
  margin-left: 10px;
}

.comment{
  display: flex;
  margin: 20px;
}

.reply{
  padding-left: 30px;
}

.leave-button button{
width: 120px;
height: 35px;
color: #FFFFFF;
background-color: red;
border: none;
border-radius: 10px;
margin-top: 25px;
}

.red{
  color: #FF5757;
}

.sidebar-logo {
  margin-bottom: 30px;
}

.sidebar-logo p {
  margin-left: 30px;
}

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #22549E;
  border-right: 1px solid #003c97;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
  display: none;
}

.sidebar a:last-child{
  margin-top: 10px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidebar svg{
  margin-bottom: -5px;
}
.orange {
  color: #FB6D3A;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}


/* BURGER MENU */

.burger-content {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  transition: all 1s;
  top: 0;
}

.ham {
  display: none;
  position: fixed;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 10px;
  z-index: 99;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #d0d0d0;
  stroke-width: 5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.burger-content .burger-content-element:first-child, .burger-content-element-leave:last-child{
  margin-top: 20%;
}

.burger-content-element{
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 8px;
}

.burger-content-element p a{
  margin-left: 10px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.burger-content-element-leave{
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.burger-content-element-leave p a{
  margin-left: 10px;
  font-size: 18px;
  color: #FF5757;
  text-decoration: none;
}

ol {
  padding: 20px;
}

.support-text{
  color: #fFF;
  text-align: left;
}

.support-content button{
  border-radius: 5px;
  background: #FB6D3A;
  border: none;
  color: #fff;
  padding: 5px 10px;
  float: left;
}

.contacts-text{
  opacity: 0.4000000059604645;
  color: #fff;
  margin-top: -10px;
  text-align: left;
}



@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }

  .sidebar a {
      font-size: 18px;
  }
}

@media screen and (min-width:600px) and (max-width:1100px) {
  .content{
    margin-left: 90px !important;
    width: 100% !important;
  }

  .all_page{
      height: 100%;
  }

  .card{
      width: 200px;
  }
  .support-img{
    display: none;
  }

  .sidebar-logo{
    display: flex;
    align-items: center;
  }

  .sidebar_text{
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .side_bar{
    display: none;
  }

  .sidebar{
    display: block;
  }

  .sidebar-logo p {
    font-size: 25px;
  }

  .courses_sectors_images{
      transition: 1s;
      margin-left: 0;
  }

  .courses_sectors_images img{
      width: 100%;
  }
}

@media (max-width:600px) {
  .ham {
      display: block;
  }
  .side_bar_links{
    display: none;
  }
  body {
    background-color: white;
  }
  .side_bar{
    justify-content: space-between;
  }

  .support-img{
    display: none;
  }

  .sections p a{
      margin-left: 20px;
  }

  .all_page{
    
      display: flex;
      flex-direction: column;
      background-color: white;
    height: 100%;
  }

  .leave-button{
    display: none;
  }

  .all_page .side_bar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1F4989;
    height: 60px;
    margin: 0;
    padding-bottom: 1.6%;
    padding-top: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 20px rgba(0, 0, 0, 0.08);
  }

  .all_page .content {
    margin-top: 80px;
    background-color: white;
    width: 80%;
  }

  .card p{
      font-size: 14px;
  }
  
  .card h3{
      font-size: 16px;
  }

  .training_sectors_h2 {
    margin-left: 10%;
  }

  .courses_sectors_images{
    display: grid;
  }

  .quiz{
      padding: 0;
      box-shadow: none;
  }
/* 
  .variant{
      width: 100%;
  } */

  .variant p{
      padding-right: 80%;
  }

}