/* BODY */

body {
  background-color: #22549E;
  margin: 0;
  padding: 0;
}

  /* Albina edit */
  .support-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 10%;
    position: relative;
  }

  .support-content {
    position: absolute;
    top: 10px;
    left: auto;
    bottom: auto;
  }

  .support-img img {
    width: 210px;
  }

*{
	font-family: 'Rubik', sans-serif !important;
  }
  .courses_sectors_images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3%;
  }
  
  .courses_sectors_images img{
    width: 100%;
    border-radius: 20px;
    background-color: inherit;
  }
  
  .training_sectors_images img{
    border-radius: 35px;
  }
  
  .training_sectors_images img:hover{
    box-shadow: 5px 5px 4px 3px rgba(0,0,0,0.14);
    transition: 500ms;
  }
  
  .courses_sectors_images img:hover{
    box-shadow: 3px 4px 5px 5px rgba(0,0,0,0.14);
    transition: 500ms;
  }
/* ----------------------------------------- */

/* ALL PAGE */

.all_page {
  width: 100%;
  display: flex;
}

.all_page .side_bar {
  width: 20%;
  margin: 20px 0px 20px 20px;
}

.all_page .content {
  background-color: white;
  border-radius: 40px;
  height: 100%;
  width: 77%;
  margin: 20px;
  overflow: hidden;
}

/* ----------------------------------------- */

/* SIDE BAR */

.side_bar {
  text-align: center;

}

/* SIDE BAR - LOGO */

a {
  color: white;
  font-family: Roboto;
  text-decoration: none;
}

.side_bar_logo_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.side_bar_logo_text {
  margin-left: 5%;
  font-size: 24px;
  font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar_links {
  margin-top: 30%;
  margin-left: 10%;
}

.side_bar_general {
  display: flex;
  align-items: center;
}

.side_bar_student{
	display: flex;
	align-items: center;
	margin-top: 2%;
}

.side_bar_answers{
	display: flex;
	align-items: center;
	margin-top: 2%;
}

.side_bar_timeTable p a {
  color: #FB6D3A;
}

.side_bar_img {
  margin-left: 5%;
}

.side_bar_text {
  margin-left: 5%;
  font-size: 100%;
}

.side_bar_courses {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.support-img {
  margin-top: 25%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.support-img img {
  width: 70%;
  height: 100%;
}

.side_bar_timeTable {
  display: flex;
  align-items: center;
  margin-top: 2%;
  width: 110%;
  border-radius: 20px 0 0 20px;
}

.side_bar_settings {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

/* SIDEBAR */

main {
  padding: 48px;
  padding-top: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  align-items: center;
}

.user-img {
  margin-left: 1%;
  margin-top: 2%;
}

.form {
  --input-text-color: #1b9bee;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --width-of-input: 100%;
  --inline-padding-of-input: 1.2em;
  --gap: -0.5rem;
}

/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
  width: 30%;
  height: 37px;
  margin-right: 50px;
  background: #DCEAFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  z-index: 1;
}

/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

/* styling search-icon */
.form svg{
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}

/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}

/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}

/* input background change in focus */
.input:focus~.fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}

/* search icon color change in focus */
.input:focus~.search {
  fill: var(--active-color);
}

/* showing close button when typing */
.input:valid~.close-btn {
  opacity: 1;
  visibility: visible;
}

/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}


.burger {
    margin-left: 1%;
}

h2{
  color: #000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.current-month{
  color: #000;
  font-weight: bold;
}

.month-select {
  width: 120px;
  height: 38px;
  opacity: 0.9;
  margin-right: 15px;
  padding: 2px;
}

.button {
    width: 140px;
    height: 40px;
    background: #0F54BC;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}


/* MAIN */

.calendar-main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.calendar-main .auto-jsCalendar{
  margin-top: 5%;
  margin-bottom: 10%;
}

.calendar-main img{
  margin-bottom: 5%;
  user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* COSMETIC STYLING */

:root {
  --blue: #22549E;
}

.calendar{
  color: hsl(0, 0%, 70%);
  margin: 10px auto;
  background: #ffffff;
  padding: 60px 40px 80px 40px;
  width: 85%;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(2,2,2,0.2);
  position: relative;
  margin-bottom: 10%;
}
.calendar__title{
  text-align: center;
}

.calendar--day-view{
  position: absolute;
  border-radius: 3px;
  top: -2.5%;
  left: -2.5%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
 box-shadow: 3px 12px 5px rgba(2,2,2,0.16);
  z-index: 2;
  overflow: hidden;
  transform: scale(0.9) translate(30px,30px);
  opacity: 0;
  visibility: hidden;
/*   border-radius: 5px; */
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
}
.day-view-content{
  color: #222;
  width: 100%;
  padding-top: 55px;
}
.day-highlight, .day-add-event{
  padding: 8px 10px;
  margin: 12px 15px;
  border-radius: 4px;
  background: #e7e8e8;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  font-family: "Avenir", sans-serif;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row .qtr{
  width: 40%;
}
.row .half{
  width: 100%;
}
@media (min-width: 800px){
  .row{
    flex-wrap: nowrap;
  }
  .row .half{
    width: 35%;
  }
  .row .qtr{
    width: 25%;
  }
}

.day-add-event{
  background: #04b6e2;
  color: #fff;
  padding: 16px;
  display: none;
  transform: translateY(-15px);
  opacity: 0;
}
.day-add-event[data-active="true"]{
  display: block;
  animation: popIn 250ms 1 forwards;
}
.add-event-label{
  padding: 10px 0;
  font-size: 18px;
  font-family: 'Avenir', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}
.add-event-edit{
  display: block;
  margin: 4px 0;
  max-width: 70%;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
}
.add-event-edit--long{
  max-width: 90%;
}

input.add-event-edit{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  font: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}
.add-event-edit--error, input.add-event-edit--error{
  border-color: #ff5151;
  animation: shake 300ms 1 forwards;
}
@keyframes shake {
  20%, 60%{
    transform: translateX(4px);
  }
  40%, 80%{
    transform: translateX(-4px);
  }
}
input.add-event-edit::-webkit-input-placeholder {
   color: #fff;
}

input.add-event-edit:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

input.add-event-edit::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

input.add-event-edit:-ms-input-placeholder {  
   color: #fff;  
}
.event-btn{
  padding: 3px 8px;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: 65px;
  margin: 5px 0;
  text-align: center;
}

.event-btn--save{
  border-color: #fff;
   background: #74c500;
  color: #fff;
  border-color: transparent;
}
.event-btn--save:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}
.event-btn--cancel{
  background: #ff5151;
  color: #fff;
  border-color: transparent;
}
.event-btn--cancel:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}
/* .add-event-btn:hover, .add.event-btn:focus{
  background: #00258e;
  box-shadow: 0px -1px 2px rgba(3,2,2,0.2);
} */
.day-highlight .day-events-link{
  border-bottom: 2px solid #222;
  padding: 0;
  cursor: pointer;
}
#add-event{
  color: #04b6e2;
  border-color: #04b6e2;
}
.day-view-exit{
  position: absolute;
  top: 24px;
  line-height: 1em;
  left: 22px;
  font-size: 22px;
  color: #252525;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  cursor: pointer;
  opacity: 0;
  animation: popIn 200ms 1 forwards;
  text-transform: uppercase;
}
.day-view-date{
  position: absolute;
  top: 19px;
  right: 22px;
  text-align: right;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  color: #393939;
  border-bottom: 2px solid #222;
  cursor: pointer;
}
.day-inspiration-quote{
  position: absolute;
/*   top: 90px; */
  margin-top: -40px;
  left: 10%;
  width: 80%;
  height: calc(100% - 110px);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #ddd;
  line-height: 1.1em;
  font-family: 'Avenir', sans-serif;
  z-index: -1;
}
.day-event-list-ul{
  list-style: none;
  margin: auto;
  width: 95%;
  padding: 0;
  max-height: 300px;
  overflow: auto;
}
.day-event-list-ul li {
  padding: 10px;
  margin: 10px 0;
/*   background: #04b6e2; */
/*   box-shadow: 0px 1px 1px  rgba(2,2,2,0.5); */
  position: relative;
}
.event-dates small{
  font-size: 0.65em;
  color: #444;
}
.event-dates{
  font-weight: 800;
  font-family: 'Avenir', sans-serif;
  color: #04b6e2;
  font-size: 18px;
  text-transform: lowercase;
/*   position: relative; */
}
.event-delete{
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 12px;
  color: #f25656;
  cursor: pointer;
}
.event-name{
  font-size: 19px;
  font-family: 'Avenir', sans-serif;
  color: #222;
  padding:10px;
  background: #f7f7f7;
  margin: 2px 0;
  display: block;
  text-transform: initial;
}
.calendar--day-view-active{
  animation: popIn 200ms 1 forwards;
  visibility: visible;
  display: flex;
  transition: visibility 0ms;

}
.calendar--view{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}
.cview__month{
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  padding-bottom: 20px;
  color: #222;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
}
.cview__month-last,.cview__month-next,.cview__month-current{
  width: 33.33333%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #222;
}
.cview__month-last:hover,.cview__month-next:hover{
  color: #fff;
}

.cview__month-current{
  font-size: 22px;
  cursor: default;
  animation: popIn 200ms 1 forwards;
  transform: translateY(20px);
  opacity: 0;
  position: relative;
}
.cview__month-reset{
  animation: none;
}
.cview__month-activate{
  animation: popIn 100ms 1 forwards;
}
.cview--spacer, .cview__header, .cview--date{
  width: 14.28571428571429%;
  max-width: 14.28571428571429%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  overflow: hidden;
  text-overflow: clip;
  font-size: 14px;
  font-weight: 900;
}
.cview--date{
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.has-events::after{
  border-radius:100%;
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.95);
  transform: scale(0);
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 12px;
  
}
.cview--date:hover::before{
  background: rgba(255,255,255,0.2);
}
.cview--date.today{
  color: #111;  
}
.cview--date.today::before{
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.2);
  transform: scale(0);
}
@keyframes popIn{

  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.cview--date::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform: scale(0.8);
  z-index: 0;
}
.footer{
  width: 100%;
  bottom: 50px;
  left: 0;
  position: absolute;
  font-size: 14px;
  text-align: center;
}
.footer__link{
  cursor: pointer;
  padding: 2px 5px;
  border-bottom: 1px solid #fff;
}

.cview__month-last:hover, .cview__month-next:hover {
  color: #000 !important;
}


.red{
  color: #FF5757;
}

.sidebar-logo {
  margin-bottom: 30px;
}

.sidebar-logo p {
  margin-left: 30px;
}

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #22549E;
  border-right: 1px solid #003c97;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 30px;
  white-space: nowrap;
  display: none;
}

.sidebar a:last-child{
  margin-top: 10px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidebar img{
  margin-bottom: -5px;
}

.orange {
  color: #FB6D3A;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }

  .sidebar a {
      font-size: 18px;
  }
}

/* ----------------------------------------- */

.calendar__head_adapt {
  display: none;
}

.back {
  display: none;
}


.leave-button button{
  width: 120px;
  height: 35px;
  color: #FFFFFF;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}


.support-img {
  margin-top: 25%;
  align-items: center;
  justify-content: center;
}

.send img {
  user-select: none;
  /* Запретить выделение текста и изображений */
  -moz-user-select: none;
  /* Для поддержки в Firefox */
  -webkit-user-drag: none;
  /* Для поддержки в браузерах на основе WebKit */
  -webkit-user-select: none;
  /* Для поддержки в браузерах на основе WebKit */
  -ms-user-select: none;
  /* Для поддержки в Internet Explorer/Edge */
  background-color: inherit;
  width: 35px;
  margin-top: 2px;
}

.send {
  background-color: initial;
  border: none;
  cursor: pointer;
  margin-right: -50px;
}

/* BURGER MENU */

.burger-content {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  transition: all 1s;
  top: 0;
  z-index: 111111;
}

.ham {
  display: none;
  position: fixed;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 10px;
  z-index: 999999;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #d0d0d0;
  stroke-width: 5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.burger-content .burger-content-element:first-child, .burger-content-element-leave:last-child{
  margin-top: 20%;
}

.burger-content-element{
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: -6px;
}

.burger-content-element p a{
  margin-left: 10px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.burger-content-element-leave{
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.burger-content-element-leave p a{
  margin-left: 10px;
  font-size: 18px;
  color: #FF5757;
  text-decoration: none;
}

.search-footer {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
}

.search-footer input {
  width: 350px;
  border-radius: 30px;
  border-color: #1b9bee;
  padding: 15px 0 15px 25px;
  outline: none;
}

.search-footer button {
  outline: none;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #1b9bee;
  padding: 10px;
  position: absolute;
  right: 4px;
  cursor: pointer;
  transition: .3s;
  color: white;
  font-size: 15px;
}



@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }

  .sidebar a {
      font-size: 18px;
  }

  
  .support-img{
    display: none;
}
}

@media screen and (min-width:601px) and (max-width:1100px) {
  .content{
    margin-left: 90px !important;
    width: 100% !important;
  }

  
  .support-img{
    display: none;
}

  .calendar-main .auto-jsCalendar{
    margin: 0;
  }

  .sidebar-logo{
    display: flex;
    align-items: center;
  }

  .sidebar_text{
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .side_bar{
    display: none;
  }

  .sidebar{
    display: block;
  }

  .sidebar-logo p {
    font-size: 25px;
  }

  .courses_sectors_images{
    margin-left: 0;
  }

  .courses_sectors_images img{
    width: 100%;
  }

  .search-footer {
    width: 100%;
    margin: 0;
  }

  .search-footer input {
    width: 100%;
  }

}

@media (max-width:600px) {
  .calendar{
    width: 70%;
  }
  .ham {
      display: block;
  }
  .side_bar_links{
    display: none;
  }

  .side_bar{
    justify-content: space-between;
  }

  .all_page{
    display: grid;
    height: 100%;
  }

  .search-footer {
    width: 100%;
    margin: 0;
  }

  .search-footer input {
    width: 100%;
  }


  .leave-button{
    display: none;
  }

  .all_page {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .all_page .side_bar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1F4989;
    height: 60px;
    margin: 0;
    z-index: 100;
    padding-bottom: 1.6%;
    padding-top: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 20px rgba(0, 0, 0, 0.08);
  }

  .all_page .content {
    margin-top: 80px;
    background-color: white;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .training_sectors_images {
    display: block;
  }

  .training_sectors_images img {
    margin-top: 5%;
    margin-bottom: 5%;
  }



  .training_sectors_h2 {
    margin-left: 10%;
  }

  .courses_sectors_images{
    
    display: grid;
    justify-content: center;
  }

  .courses_sectors_images img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}



/* Adaptation */
@media (min-width: 850px) {
  .menu__icon {
    font-size: 0.9rem;
    padding-right: 16px;
  }

  .menu__item--active {
    border-left: 4px solid var(--red);
    box-shadow: inset 10px 0px 17px -13px var(--red);
  }

}

@media (max-width:700px) {
  .calendar-main img{
    display: none;
  }
}


@media (max-width:1100px) {

  #menu {
    margin-right: 4%;
    width: auto;
  }
  .content-header {
    display: block;
  }
  .content{
    margin-left: 90px !important;
    width: 100% !important;
    height: 95vh !important;
  }


  .content{
    height: 100%;
  }

  .sidebar-logo p {
   display: none;
  }

  #menu:after {
    display: none;
  }

  

  .k {
    width: 30px;
    height: 30px;
  }

  .input {
    font-size: 20px;
  }

  .search svg {
    width: 24px;
    height: 24px;
  }


  .form {
    width: 82%;
    height: 40px;
  }



}

@media (max-width: 600px) {
  .calendar {
    border: none;
  }
  .f img {
    width: 40px;
    height: 40px;
    margin-left: 5%;
  }
  p {
    line-height: 2;
  }

  i {
    display: none;
  }

  .menu__btn {
    display: block;
  }

  
  .wrapper {
    margin: 0;    
    margin-bottom: 10%;
    margin-top: 4%;
    margin-left: 3%;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
  }

  .form {
    height: 40px;
    border-radius: 20px;
    width: 80% !important;
    margin-left: 1%;
  }

  .form svg{
    width: 20px !important;
  }

  .form input {
    font-size: 20px;

  }

  .search svg {
    width: 40px;
    height: 40px;
    margin-right: 5%;
  }

  .search {   
    width: 85%;
    margin-top: .5%;
    margin-left: 2%;
  }

  .close-btn {
    width: 40px;
    height: 40px;
  }

  .close-btn svg {
    width: 30px;
    height: 30px;
  }

  body {
    background-color: #1F4989;
    width: 100%;
    height: 100vh;
  }

  .support-img {
    display: none;
  }

  .notification-img {
    display: none;
  }

  .side_bar_links {
    display: none;
  }

  .all_page {
    display: flex;
    flex-direction: column;
  }

  .all_page .content {
    background-color: white;
    border-radius: 0;
    min-height: 900px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .burger {
    display: none;
  }

  h2 {
    font-size: 27px;
  }

  .current-month {
    margin-bottom: 3%;
  }

  .container {
    flex-direction: column;
  }

  .calendar{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .calendar__header {
    display: none;
  }

  .calendar__head_adapt {
    display: block;
    color: #0067F5;
    background-color: #FCFBFC;
  }

  .calendar__week {
    display: none;
  }

  .dayofweek {
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 9px;
    box-shadow: 0px 9px 22px -8px rgba(34, 82, 147, 0.53);
    background-color: #F6F6F5;
  }

  .back {
    display: block;
    margin: 15% auto 30%;
    border: none;
    color: #0067F5;
    font-weight: bold;
  }


}
  
 
@media (max-width: 450px) {
  .sidebar {
      padding-top: 15px;
  }

  .sidebar a {
      font-size: 18px;
  }

  .monthButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .month-select {
    margin: 0 auto;
  }

  .button {
    margin: 5%;
  }

}


.burger-content-element-leave  {
  margin-top: 18.5% !important
}
.sidebar-logo {
  position: relative;
  right: 14%;
}

.support-text{
  color: #fFF;
  text-align: left;
}

.contacts-text{
  opacity: 0.4000000059604645;
  color: #fff;
  margin-top: -10px;
  text-align: left;
}

.support-content button{
  border-radius: 5px;
  background: #FB6D3A;
  border: none;
  color: #fff;
  padding: 5px 10px;
  float: left;
}

@media (max-width:1200px) {
  .support-img img{
    width: 80%;
  }
}
