<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/essay.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>
  <div class="all_page">
    <!-- SIDE BAR-->
    <div class="side_bar">

      <!-- LOGO -->
      <div class="side_bar_logo_settings">
        <img class="side_bar_logo" src="img/logo.png" alt="" width="40" height="40">
        <p class="side_bar_logo_text"><a href="#">Aviation</a></p>
      </div>

      <!-- BURGER MENU -->

      <svg class="ham ham6" viewBox="0 0 100 100" width="60" onclick="this.classList.toggle('active'), toggleBurgerContent()">
        <path
              class="line top"
              d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272" />
        <path
              class="line middle"
              d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272" />
        <path
              class="line bottom"
              d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272" />
      </svg>     

    <div class="burger-content" style="left: -100%;">
        <div class="burger-content-element">
            <img width="24" src="img/icons8-главная-48.png" alt="">
            <p><a href="mainAfterSignUp.html">Главная</a></p>
        </div>
        <div class="burger-content-element">
            <img width="24" src="img/icons8-студенческий-центр-48.png" alt="">
            <p><a href="coursesAfterSignUpStudent.html">Мои курсы</a></p>
        </div>
        <div class="burger-content-element">
          <img width="24" src="img/icons8-настройки-48.png" alt="">
            <p><a href="profileSettings.html">Настройки</a></p>
        </div>
        <div class="burger-content-element">
          <img width="24" src="img/icons8-расписание-48.png" alt="">
            <p><a href="timeTable.html">Расписание</a></p>
        </div>
        <div class="burger-content-element-leave">
          <img width="24" src="img/icons8-выйти-48.png" alt="">
            <p><a href="index.html">Выйти</a></p>
        </div>
    </div>

    <script src="js/burger.js"></script>

      <!-- NAVIGATION LINKS-->
      <div class="side_bar_links">
        <div class="side_bar_general">
          <img class="side_bar_img" width="24" src="img/icons8-главная-48.png" alt="">
          <p class="side_bar_text"><a href="mainAfterSignUp.html">Главная</a></p>
        </div>

        <div class="side_bar_courses">
          <img class="side_bar_img" width="24" src="img/icons8-студенческий-центр-48.png" alt="">
          <p class="side_bar_text"><a href="coursesAfterSignUpStudent.html">Мои курсы</a></p>
        </div>
        <div class="side_bar_settings">
          <img class="side_bar_img" width="24" src="img/icons8-настройки-48.png" alt="">
          <p class="side_bar_text"><a href="profileSettings.html">Настройки</a></p>
        </div>

        <div class="side_bar_timeTable">
          <img class="side_bar_img" width="24" src="img/icons8-расписание-48.png" alt="">
          <p class="side_bar_text"><a href="timeTable.html">Расписание</a></p>
        </div>
    </div>

    <!-- support-img -->
    
    <div class="support-img">
      <div class="support-content">
        <p class="support-text">Support 24/7</p>
      <p class="contacts-text">Contacts us anytime</p>
      <button>Start</button>
      </div>
      <img src="img/Frame 1000003201.png" alt="">

    </div>

    <div class="leave-button">
      <a href="index.html"><button class="leave">Выйти</button></a> 
     </div>
  </div>

  <!-- side-bar -->
  <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <a href="mainAfterSignUp.html">
    <div class="sidebar-logo">
      <img class="side_bar_logo" src="img/logo.png" alt="" width="40" height="40">
      <p class="">Aviation</p>
    </div>
    </a>
    <a href="mainAfterSignUp.html"><span>
      <img  width="24" src="img/icons8-главная-48.png" alt="">
      <span class="sidebar_text"><span >Главная</span></span></a><br>
    <a href="coursesAfterSignUpStudent.html">
      <img  width="24" src="img/icons8-студенческий-центр-48.png" alt=""><span class="sidebar_text">Мои курсы</span></a>
    </a><br>
    <a href="coursesAfterSignUpStudent.html">
      <img width="24" src="img/icons8-настройки-48.png" alt="">
      <span class="sidebar_text">Настройки</span></a>
    </a><br>
    <a href="timeTable.html">
      <img  width="24" src="img/icons8-расписание-48.png" alt="">
    <span class="sidebar_text">Расписание</span></a><br>
    <a href="index.html">
      <img  width="24" src="img/icons8-выйти-48.png" alt="">   
      <span class="sidebar_text red">Выйти</span>
    </a>
  </div>
    <!-- -->
    <div class="content">

      <!-- search-input -->

      <!-- my courses -->

      <div class="courses">

        <h2 class="my-courses-h2">Эссе</h2>

      <div class="quiz">

      <h3 class="my-courses-h2">Тема: Авиация</h3>

        <!-- theme lesson -->

      <div class="theme">

      <p><b>
        Напишите развернутое эссе на данную тему. Покажите в нем то, как вы поняли эту тему.
    </b></p>

    <!-- test -->

    <div class="essay">

        <div class="chat-essay">

            <div class="comment">
              <div class="ava">
                <img width="50px" src="img/free-icon-user-profile-5675059.png" alt="">
              </div>

              <textarea type="text" class="reply-textarea" placeholder="Введите свой комментарий под эссе. Напишите то, что вы не поняли по данной теме"></textarea>
            </div>

            <div class="reply">
              <form action="">
                <span id='button'>Добавить файл
                    <svg width="15" height="16" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8" width="2" height="17" rx="1" fill="white"/>
                        <rect y="8" width="18" height="2" rx="1" fill="white"/>
                        </svg>                        
                </span>
                <input type='file'/>
                <button class="send"><img src="img/send.svg" alt=""></button>
              </form>
            </div>
          </div>

    </div>

    </div>

    </div>

      </div>

      <div class="chat">

        <div class="comment">
          <div class="ava">
            <img width="50px" src="img/free-icon-user-profile-5675059.png" alt="">
          </div>
          <div class="comment-text">
            <p>A fast 50mm like f1.8 would help with <br> the bokeh.  I’ve been using primes as they <br> tend to get a bit sharper images.</p>
          </div>
        </div>
  
        <div class="reply">
          <form action="">
            <textarea type="text" placeholder="Комментарии" class="reply-input"></textarea>
            <button class="send"><img src="img/send.svg" alt=""></button>
          </form>
        </div>

      </div>
    </div>
</div>

<script src="js/side-bar.js"></script>
</body>

</html>
