{% extends 'users/student/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}<link rel="stylesheet" href="{% static 'student/css/test.css' %}">{% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>
  <div class="all_page">
    {% block content %}
    <div class="content">
        <div class="courses">
            <div class="quiz">
                <h2>Тест "{{ lesson.title }}"</h2>
                <form method="post" action="{% url 'users:student:courses:tests:take_test' lesson_id=lesson.id %}">
                    {% csrf_token %}
                    <ol>
                        {% for question in questions %}
                        <div class="theme">
                            <li>{{ question.question }}</li>
                            <div class="test">
                                {% for choice in question.testchoice_set.all %}
                                <div class="variant">
                                    <label class="checkbox">
                                        <input name="question_{{ question.id }}" type="radio" value="{{ choice.id }}">
                                    </label>
                                    <p><b>{{ choice.choice }}</b></p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </ol>
                    <div class="nextBtn">
                        <a href="video.html"><img id="back" src="img/back.png" alt=""></a>
                        <button style="cursor: pointer" type="submit" class="essay">Сдать тест</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
  </div>

  <script src="{% static 'student/js/side-bar.js' %}"></script>
</body>

</html>


