<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="images/8N4kGrRyCMvx.png" />

    <link href="{% static 'stransit/css/agBmLZg4XvdE.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/rT83hV5Fo8Za.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/sVREbUiwQOYC.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/DVwob9oRzNVA.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/Z5DMAr41i25k.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/ItKKcMzmF6KQ.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/lWdFszuO73fq.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/pTsqCF0LuyWX.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/f6hMpVJr97F6.css' %}" rel="stylesheet" />
    <link href="{% static 'stransit/css/voIXSgwpb1xh.css' %}" rel="stylesheet" />
</head>

<body>
<div class="preloader">
    <div class="loader">
        <div class="loader-box-1"></div>
        <div class="loader-box-2"></div>
    </div>
</div>

<header class="header">
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container g-0">
                <a class="navbar-brand" href="index.html" style="color: white;">
                    <img style="height: 35px; width: 35px; margin-right: 5px;" src="{% static 'stransit/images/logo.png' %}" alt="thumb" />
                    
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fal fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav" style="border-radius: 5px;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Главная</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stransit:about' %}">О нас</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Курсы</a>
                            <ul class="dropdown-menu fade-up">
                                <li><a class="dropdown-item" href="{% url 'stransit:online_courses' %}">Онлайн курсы</a></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Курсы</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'stransit:industrial_course' %}">Промышленные курсы</a></li>
                                        <li><a class="dropdown-item" href="{% url 'stransit:aviation_course' %}">Авиационные курсы</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stransit:certificates' %}">Сертификаты</a>
                        </li>
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'stransit:contacts' %}">Контакты</a></li>
                        
                        <li class="nav-item nav-item-mobile">
                            {% if user.is_authenticated %}
                                {% if user.role == "student" %}
                                    <a href="{% url 'users:student:student' %}" class="theme-btn"><span class="far fa-plane-departure"></span> Кабинет студента</a>
                                {% elif user.role == "curator" %}
                                    <a href="{% url 'users:curator:curator' %}" class="theme-btn"><span class="far fa-plane-departure"></span> Кабинет куратора</a>
                                {% elif user.role == "admin" %}
                                    <a href="{% url 'users:admin:administrator' %}" class="theme-btn"><span class="far fa-plane-departure"></span> Кабинет администратора</a>
                                {% endif %}
                            {% else %}    
                                <a href="{% url 'users:login' %}" class="theme-btn"><span class="far fa-plane-departure"></span> Войти</a>
                            {% endif %}
                        </li>
                        <style>
                            .nav-item-mobile {
                                display: none; /* По умолчанию скрыт */
                                justify-content: center; /* Центрирует содержимое по горизонтали */
                                width: 100%; 
                                padding: 5px;
                            }
                            
                            /* Показываем элемент на экранах шире 768px и применяем flexbox для центрирования */
                            @media (max-width: 768px) {
                                .nav-item-mobile {
                                    display: flex; /* Включаем flexbox */
                                    justify-content: center; /* Центрируем содержимое по горизонтали */
                                }
                            }

                        </style>
                    </ul>
                    
                    <div class="header-btn">
                        {% if user.is_authenticated %}
                            {% if user.role == "student" %}
                                <a href="{% url 'users:student:student' %}" class="theme-btn"><span class="far fa-plane-departure"></span> Кабинет студента</a>
                            {% elif user.role == "curator" %}
                                <a href="{% url 'users:curator:curator' %}" class="theme-btn"><span class="far fa-plane-departure"></span> Кабинет куратора</a>
                            {% elif user.role == "admin" %}
                                <a href="{% url 'users:admin:administrator' %}" class="theme-btn"><span class="far fa-plane-departure"></span> Кабинет администратора</a>
                            {% endif %}
                        {% else %}    
                            <a href="{% url 'users:login' %}" class="theme-btn"><span class="far fa-plane-departure"></span> Войти</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<main class="main">
    <div class="hero-section">
        <div class="hero-single hero-shape " style="padding-top: 200px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="hero-content">
                            <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Добро пожаловать!</h6>
                            <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                                Авиационный Учебный Центр «Стандарт Транзит» 
                            </h1>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                                ТОО «Стандарт Транзит» основано в 2015 году, специализируется на обучающих программах, тренингах, курсах повышения квалификации.
                            </p>
                            <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <a href="#target-block"" class="theme-btn">Связаться <i class="fas fa-arrow-right"></i></a>
                                <a href="{% url 'stransit:about' %}" class="theme-btn border-btn">О нас <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img">
                            <img src="{% static 'stransit/images/uPovUeWsGa4p.png' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search-area">
        <div class="container" id="target-block">
            <div class="search-form-wrapper">
                <form class="p-3 p-xl-4" method="post">
                    {% csrf_token %}
                    <div class="row justify-content-center align-items-end">
                        <div class="col-md-6 col-lg-3 search-input">
                            <div class="form-group">
                                <label>Имя</label>
                                <input type="text" class="form-control" type="text" id="name-1" name="name">
                                <div><i class="far fa-user"></i></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 search-input">
                            <div class="form-group">
                                <label>Почта</label>
                                <input type="text" class="form-control" type="email" id="email-1" name="email">
                                <div><i class="far fa-inbox"></i></div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-3 search-input">
                            <div class="form-group">
                                <label>Номер телефона</label>
                                <input type="text" class="form-control" type="tel" id="phone_number" name="phone_number">
                                <div><i class="far fa-phone"></i></div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-3 search-input">
                            <div class="form-group">
                                <label>Сообщение</label>
                                <input type="text" class="form-control" id="message-1" name="message" rows="6">
                                <div><i class="far fa-info"></i></div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-2 pt-4 search-input">
                            <button type="submit" class="search-btn"><i class="far fa-plane-departure"></i> Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="feature-area pt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Features</span>
                        <h2 class="site-title">Top Features</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="feature-single">
                        <div class="feature-icon">
                            <i class="icon-luxury"></i>
                        </div>
                        <div class="feature-info">
                            <h5>Luxury And Comfort</h5>
                            <p>Качественное обучение сегодня - гарантированный успех завтра!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="feature-single">
                        <div class="feature-icon">
                            <i class="icon-from-airplane"></i>
                        </div>
                        <div class="feature-info">
                            <h5>Save And Secure</h5>
                            <p>There are many variations of passages available the majority have suffered alteration in some form by injected humour or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="feature-single">
                        <div class="feature-icon">
                            <i class="icon-all-around-globe"></i>
                        </div>
                        <div class="feature-info">
                            <h5>All Over The World</h5>
                            <p>There are many variations of passages available the majority have suffered alteration in some form by injected humour or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-area py-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-left">
                        <div class="about-img">
                            <img class="about-img-1" src="{% static 'stransit/images/3hajizYlJuZ5.jpg' %}" alt="" />
                            <img class="about-img-2" src="{% static 'stransit/images/1V1pEG6L0HVC.jpg' %}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-right">
                        <div class="site-header">
                            <span class="site-title-tagline">About Us</span>
                            <h2 class="site-title">We Are Here To Make Your Dreams Come True</h2>
                        </div>
                        <p class="about-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even.</p>
                        <div class="about-list-wrapper">
                            <ul class="about-list list-unstyled">
                                <li>
                                    <div class="icon"><span class="far fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>Take a look at our round up of the best shows</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><span class="far fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>It has survived not only five centuries</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><span class="far fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>Lorem Ipsum has been the ndustry standard dummy text</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="about.html" class="theme-btn">Discover More <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-area bg py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Services</span>
                        <h2 class="site-title">What We Offer</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="icon-business-jet-charter1"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Luxury Travel</a></h4>
                            <p>There are many variations of passages available but the majority have suffered alteration in some for injected humour or randomised words which don't look even slightly believable.</p>
                            <a href="#" class="theme-btn">Learn More <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="icon-schedule-1"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Flexible Schedule</a></h4>
                            <p>There are many variations of passages available but the majority have suffered alteration in some for injected humour or randomised words which don't look even slightly believable.</p>
                            <a href="#" class="theme-btn">Learn More <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="icon-money-1"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Affordable Cost</a></h4>
                            <p>There are many variations of passages available but the majority have suffered alteration in some for injected humour or randomised words which don't look even slightly believable.</p>
                            <a href="#" class="theme-btn">Learn More <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="icon-cabin-comfort"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Comfort Travel</a></h4>
                            <p>There are many variations of passages available but the majority have suffered alteration in some for injected humour or randomised words which don't look even slightly believable.</p>
                            <a href="#" class="theme-btn">Learn More <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="icon-private-helicoopter1"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Easy Transport</a></h4>
                            <p>There are many variations of passages available but the majority have suffered alteration in some for injected humour or randomised words which don't look even slightly believable.</p>
                            <a href="#" class="theme-btn">Learn More <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="icon-modern-aircrafts"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Fast Service</a></h4>
                            <p>There are many variations of passages available but the majority have suffered alteration in some for injected humour or randomised words which don't look even slightly believable.</p>
                            <a href="#" class="theme-btn">Learn More <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="counter-area pt-40 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon"><i class="fal fa-smile"></i></div>
                        <span class="counter" data-count="+" data-to="30" data-speed="3000">30</span>
                        <h6 class="title">+ Happy Clients</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon"><i class="fal fa-user-tie"></i></div>
                        <span class="counter" data-count="+" data-to="100" data-speed="3000">100</span>
                        <h6 class="title">+ Expert Pilots</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon"><i class="fal fa-plane-departure"></i></div>
                        <span class="counter" data-count="+" data-to="80" data-speed="3000">80</span>
                        <h6 class="title">+ Jet Airplane</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon"><i class="fal fa-award"></i></div>
                        <span class="counter" data-count="+" data-to="50" data-speed="3000">50</span>
                        <h6 class="title">+ Win Awards</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

    <div class="package-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Packages</span>
                        <h2 class="site-title text-white">Tour Package For You</h2>
                        <p class="text-white">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="package-slider owl-carousel owl-theme">
                <div class="package-item">
                    <div class="package-img">
                        <img src="{% static 'stransit/images/M7Ntx8ySTI6K.jpg' %}" alt="" />
                        <a class="package-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU"><i class="fas fa-play"></i></a>
                    </div>
                    <div class="package-content">
                        <div class="package-title">
                            <a href="#">
                                <h4>The City Of Lights</h4>
                            </a>
                        </div>
                        <div class="package-info">
                            <ul>
                                <li><i class="far fa-clock"></i>May 11, 2023</li>
                                <li><i class="far fa-user"></i>8 Passenger</li>
                            </ul>
                        </div>
                        <div class="package-bottom">
                            <a href="#" class="package-btn"><span class="far fa-plane-departure"></span> Book Now</a>
                            <div class="package-price">
                                <span>$250</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="package-item">
                    <div class="package-img">
                        <img src="{% static 'stransit/images/ABUDHDiOIdIv.jpg' %}" alt="" />
                        <a class="package-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU"><i class="fas fa-play"></i></a>
                    </div>
                    <div class="package-content">
                        <div class="package-title">
                            <a href="#">
                                <h4>The City Of Lights</h4>
                            </a>
                        </div>
                        <div class="package-info">
                            <ul>
                                <li><i class="far fa-clock"></i>May 11, 2023</li>
                                <li><i class="far fa-user"></i>8 Passenger</li>
                            </ul>
                        </div>
                        <div class="package-bottom">
                            <a href="#" class="package-btn"><span class="far fa-plane-departure"></span> Book Now</a>
                            <div class="package-price">
                                <span>$250</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="package-item">
                    <div class="package-img">
                        <img src="{% static 'stransit/images/4tmz96p3tlz7.jpg' %}" alt="" />
                        <a class="package-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU"><i class="fas fa-play"></i></a>
                    </div>
                    <div class="package-content">
                        <div class="package-title">
                            <a href="#">
                                <h4>The City Of Lights</h4>
                            </a>
                        </div>
                        <div class="package-info">
                            <ul>
                                <li><i class="far fa-clock"></i>May 11, 2023</li>
                                <li><i class="far fa-user"></i>8 Passenger</li>
                            </ul>
                        </div>
                        <div class="package-bottom">
                            <a href="#" class="package-btn"><span class="far fa-plane-departure"></span> Book Now</a>
                            <div class="package-price">
                                <span>$250</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="package-item">
                    <div class="package-img">
                        <img src="{% static 'stransit/images/2DnR9bnysagv.jpg' %}" alt="" />
                        <a class="package-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU"><i class="fas fa-play"></i></a>
                    </div>
                    <div class="package-content">
                        <div class="package-title">
                            <a href="#">
                                <h4>The City Of Lights</h4>
                            </a>
                        </div>
                        <div class="package-info">
                            <ul>
                                <li><i class="far fa-clock"></i>May 11, 2023</li>
                                <li><i class="far fa-user"></i>8 Passenger</li>
                            </ul>
                        </div>
                        <div class="package-bottom">
                            <a href="#" class="package-btn"><span class="far fa-plane-departure"></span> Book Now</a>
                            <div class="package-price">
                                <span>$250</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Team</span>
                        <h2 class="site-title">Meet Our Team</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="{% static 'stransit/images/1bu38twfICA8.jpg' %}" alt="thumb" />
                        <div class="team-content">
                            <div class="team-bio">
                                <a href="#">Malissa Fierro</a>
                                <p>Pilot</p>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="{% static 'stransit/images/oGou0S9962Bh.jpg' %}" alt="thumb" />
                        <div class="team-content">
                            <div class="team-bio">
                                <a href="#">Florence Long</a>
                                <p>Pilot</p>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item active">
                        <img src="{% static 'stransit/images/zmvbUnAihR0H.jpg' %}" alt="thumb" />
                        <div class="team-content">
                            <div class="team-bio">
                                <a href="#">Melvin Castillo</a>
                                <p>Pilot</p>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="{% static 'stransit/images/8XfSbMmkBC4i.jpg' %}" alt="thumb" />
                        <div class="team-content">
                            <div class="team-bio">
                                <a href="#">Johni Welsh</a>
                                <p>Crew</p>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial-area testimonial-bg py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Testimonials</span>
                        <h2 class="site-title text-white">What Client Say's</h2>
                        <p class="text-white">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider owl-carousel owl-theme">
                <div class="testimonial-single">
                    <div class="testimonial-quote">
                        <span class="testimonial-quote-icon"><i class="icon-quote"></i></span>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="{% static 'stransit/images/zG317DnuJXcY.jpg' %}" alt="" />
                        </div>
                        <div class="testimonial-author-info">
                            <h4>Sylvia H Green</h4>
                            <p>Client</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-single">
                    <div class="testimonial-quote">
                        <span class="testimonial-quote-icon"><i class="icon-quote"></i></span>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="{% static 'stransit/images/naLEYOaq8QUg.jpg' %}" alt="" />
                        </div>
                        <div class="testimonial-author-info">
                            <h4>Gordon D Novak</h4>
                            <p>Client</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-single">
                    <div class="testimonial-quote">
                        <span class="testimonial-quote-icon"><i class="icon-quote"></i></span>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="{% static 'stransit/images/MTs3N7p2MXHr.jpg' %}" alt="" />
                        </div>
                        <div class="testimonial-author-info">
                            <h4>Reid E Butt</h4>
                            <p>Client</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-single">
                    <div class="testimonial-quote">
                        <span class="testimonial-quote-icon"><i class="icon-quote"></i></span>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="{% static 'stransit/images/n0JrMblOQjKq.jpg' %}" alt="" />
                        </div>
                        <div class="testimonial-author-info">
                            <h4>Parker Jimenez</h4>
                            <p>Client</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partner-area bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Partners</span>
                        <h2 class="site-title">Our Awesome Partners</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="partner-wrapper partner-slider owl-carousel owl-theme">
                <div class="partner-item">
                    <img src="{% static 'stransit/images/PRFbzQYxNS0E.png' %}" alt="thumb" />
                </div>
                <div class="partner-item">
                    <img src="{% static 'stransit/images/vuEwYDhIieFA.png' %}" alt="thumb" />
                </div>
                <div class="partner-item">
                    <img src="{% static 'stransit/images/RivjNBsVoNI7.png' %}" alt="thumb" />
                </div>
                <div class="partner-item">
                    <img src="{% static 'stransit/images/grsGCRP8Q1bj.png' %}" alt="thumb" />
                </div>
                <div class="partner-item">
                    <img src="{% static 'stransit/images/YYSrSHjD9uNU.png' %}" alt="thumb" />
                </div>
                <div class="partner-item">
                    <img src="{% static 'stransit/images/2dUdv3OjskhB.png' %}" alt="thumb" />
                </div>
            </div>
        </div>
    </div>

    <div class="blog-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Our Blog</span>
                        <h2 class="site-title">Latest News &amp; Blog</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-thumb">
                            <img src="{% static 'stransit/images/fvPdgZWn6sk3.jpg' %}" alt="Thumb" />
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><i class="far fa-user"></i> Nancy Castdo</li>
                                    <li><i class="far fa-calendar-alt"></i> May 11, 2023</li>
                                </ul>
                            </div>
                            <h5><a href="#" class="blog-item-title">There are many variations of passages available</a></h5>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            </p>
                            <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-thumb">
                            <img src="{% static 'stransit/images/18Hp9i2pZ05J.jpg' %}" alt="Thumb" />
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><i class="far fa-user"></i> Nancy Castdo</li>
                                    <li><i class="far fa-calendar-alt"></i> May 11, 2023</li>
                                </ul>
                            </div>
                            <h5><a href="#" class="blog-item-title">There are many variations of passages available</a></h5>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            </p>
                            <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-thumb">
                            <img src="{% static 'stransit/images/mZRfpgTBniZv.jpg' %}" alt="Thumb" />
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><i class="far fa-user"></i> Nancy Castdo</li>
                                    <li><i class="far fa-calendar-alt"></i> May 11, 2023</li>
                                </ul>
                            </div>
                            <h5><a href="#" class="blog-item-title">There are many variations of passages available</a></h5>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            </p>
                            <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="subscribe-area pt-60 pb-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="subscribe-content">
                    <h4>Subscribe To Our Newsletter</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="subscribe-form">
                    <form action="#">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter Your Email" />
                        </div>
                        <button type="submit"><i class="far fa-paper-plane"></i>Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-area pt-100">
			<div class="footer-widget">
				<div class="container">
					<div class="row footer-widget-wrapper pb-50">
						<div class="col-md-6 col-lg-3">
							<div class="footer-widget-box about-us">
								<a href="#" class="footer-logo">
									<img style="heigth: 60px; width: 60px;" src="{% static 'stransit/images/logo.png' %}" alt="" />
								</a>
								<p class="mb-20">
									Качественное обучение сегодня - гарантированный успех завтра!
								</p>
								<ul class="footer-social">
									<li>
										<a href="#"><i class="fab fa-facebook-f"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-youtube"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="footer-widget-box list">
								<h4 class="footer-widget-title">Сектора тренингов</h4>
								<ul class="footer-list">
									<li><a href="#">Авиационный</a></li>
									<li><a href="#">Промышленный</a></li>
									<li><a href="#">Онлайн курсы</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="footer-widget-box">
								<h4 class="footer-widget-title">Карьера</h4>
								<ul class="footer-list">
									<li><a href="#">Вакансии</a></li>
                                    <li><a href="#">Политика конфиденциальности</a></li>
									<li><a href="#">Наши услуги</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="footer-widget-box">
								<h4 class="footer-widget-title">Контакты</h4>
								<ul class="footer-contact">
									<li><i class="far fa-map-marker-alt"></i>Казахстан, г. Атырау, ул. Адгама Каримова 70А, мкр. Самал</li>
									<li>
										<a href="tel:+21234566789"><i class="far fa-phone"></i>+7 (701) 566-23-61</a>
									</li>
									<li>
										<a href="">
											<i class="far fa-envelope"></i>info@stransit.kz
										</a>
									</li>
									<li><i class="far fa-clock"></i>Пн - Пт (09:00 - 20:00)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
                <div class="container">
                    <p class="copyright-text">Copyrights ©2023 Standart Transit. Все права защищены. Создано <a href="https://workbench.kz/">WorkBench.</a></p>
                </div>
            </div>
		</footer>

<a href="#" id="scroll-top"><i class="far fa-angle-double-up"></i></a>

<script data-cfasync="false" src="{% static 'stransit/js/IhELMEI3kZjD.js' %}"></script>
<script src="{% static 'stransit/js/VNbjrvo6JK4E.js' %}"></script>
<script src="{% static 'stransit/js/OBxwF9i4iHQe.js' %}"></script>
<script src="{% static 'stransit/js/vPskdlSVQxFW.js' %}"></script>
<script src="{% static 'stransit/js/RhXJd8sFNolm.js' %}"></script>
<script src="{% static 'stransit/js/bI28vjHwmf94.js' %}"></script>
<script src="{% static 'stransit/js/G6o6WjKiPtBE.js' %}"></script>
<script src="{% static 'stransit/js/N007fv3az74m.js' %}"></script>
<script src="{% static 'stransit/js/CyGxPQOuG52W.js' %}"></script>
<script src="{% static 'stransit/js/pbFtLVi0XIZI.js' %}"></script>
<script src="{% static 'stransit/js/rEKknpPvXUga.js' %}"></script>
<script src="{% static 'stransit/js/hysEBYjlSg4R.js' %}"></script>
<script src="{% static 'stransit/js/D5fyJD0lX1Ql.js' %}"></script>
<script src="{% static 'stransit/js/kiMiL9FVB7ra.js' %}"></script>
<script src="{% static 'stransit/js/McWB53lm2B3O.js' %}"></script>
</body>

</html>
