
/* BODY */

body {
	background-color: #22549E;
	margin: 0;
	padding: 0;
}
/* ----------------------------------------- */

*{
	font-family: 'Rubik', sans-serif !important;
  }
  
/* ALL PAGE */

.all_page {
	width: 100%;
	display: flex;
}

.all_page .side_bar {
	width: 20%;
	margin: 20px 0px 20px 20px;
}

.all_page .content {
	background-color: white;
	border-radius: 20px;
	height: 100%;
	width: 77%;
	margin: 20px;
}

/* ----------------------------------------- */

/* SIDE BAR */

.side_bar {
	text-align: center;
}

/* SIDE BAR - LOGO */

a {
	color: white;
	text-decoration: none;
}

.side_bar_logo_settings {
	display: flex;
	align-items: center;
	margin-left: 10%;
}

.side_bar_logo_text {
	margin-left: 5%;
	font-size: 24px;
	font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar_links {
	margin-top: 30%;
	margin-left: 10%;
}

.side_bar_general {
	display: flex;
	align-items: center;
}

.side_bar_student{
	display: flex;
	align-items: center;
	margin-top: 2%;
	background-color: white;
	width: 120%;
	border-radius: 20px 0 0 20px;
	shape-image-threshold: 20px;
}

.side_bar_answers{
	display: flex;
	align-items: center;
	margin-top: 2%;
}

.side_bar_img {
	margin-left: 5%;
}

.side_bar_text {
	margin-left: 5%;
	font-size: 100%;
}

.side_bar_courses {
	display: flex;
	align-items: center;
	margin-top: 2%;
}

.courses_sectors_images{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 3%;
  }
  
  .courses_sectors_images img{
	width: 100%;
	border-radius: 20px;
	background-color: inherit;
  }
  
  
  .users{
	border-radius: 35px;
  }
  
  .users:hover{
	box-shadow: 5px 5px 4px 3px rgba(0,0,0,0.14);
	transition: 500ms;
  }
  
  .courses_sectors_images img:hover{
	box-shadow: 3px 4px 5px 5px rgba(0,0,0,0.14);
	transition: 500ms;
  }

.side_bar_timeTable {
	display: flex;
	align-items: center;
	margin-top: 2%;
}

.side_bar_settings {
	display: flex;
	align-items: center;
	margin-top: 2%;
}
.side_bar_student p a {
	color: #FB6D3A;
}

.leave-button button{
	width: 120px;
	height: 35px;
	color: #FFFFFF;
	background-color: red;
	border: none;
	border-radius: 10px;
	margin-top: 25px;
  }

.main-content {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 100px;
	background-color: #fff;
	box-shadow: 4px 4px 13px 5px rgba(0, 0, 0, 0.25);
	width: 85%;
	height: 90%;
	border-radius: 14px;
	margin: 7% 0 5% 7.5%;
	padding-bottom: 50px;
}

.student-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
	margin-left: 5%;
}

.student-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.student-img img {
	width: 80px;
}

.student-data {
	margin-top: 10px;
	align-items: center;
}

.data-title {
	font-size: 11px;
	font-weight: 300;
}

.data-content {
	width: 90%;
	background-color: #DCEAFF;
	padding: 10px 15px;
	border-radius: 7px;
	font-weight: 300;
	font-size: 14px;
}

.save {
	background-color: #0078C2;
	color: #fff;
	border-radius: 14px;
	padding: 8px 30px;
	border: none;
}

.student-btns {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.data-content input {
	border: none;
	background: transparent;
	width: 100%;
}

.data-content input:focus {
	outline: none;
}

.del {
	background-color: #C20000;
	color: #fff;
	border-radius: 14px;
	padding: 8px 30px;
	border: none;
}

.info-types {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 138px;
	gap: 20px;
	margin-right: 5%;
}

.info-select {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.data-content select {
	width: 100%;
	background: transparent;
	color: #0067F5;
	border: none;
}

.data-content select:focus {
	outline: none;
}

.select {
	background: transparent;
	box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;
	width: 300px;
}

.btn {
	padding: 8px 50px;
	border: none;
	border-radius: 14px;
	color: #fff;
	background-color: #0067F5;
}

.password-title {
	color: #0067F5;
}

.data-password {
	width: 250px;
}

.back{
    transform: rotate(180deg);
	padding: 20px;
}

.h2{
	margin-left: 20px;
}

/* BURGER MENU */

.burger-content {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	transition: all 1s;
	top: 0;
	z-index: 111111;
  }
  
  .ham {
	display: none;
	position: fixed;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	right: 10px;
	z-index: 999999;
  }
  
  .hamRotate.active {
	transform: rotate(45deg);
  }
  
  .hamRotate180.active {
	transform: rotate(180deg);
  }
  
  .line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #d0d0d0;
	stroke-width: 5;
	stroke-linecap: round;
  }
  
  .ham6 .top {
	stroke-dasharray: 40 172;
  }
  .ham6 .middle {
	stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
	stroke-dasharray: 40 172;
  }
  .ham6.active .top {
	stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
	stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
	stroke-dashoffset: -132px;
  }
  
  .burger-content .burger-content-element:first-child, .burger-content-element-leave:last-child{
	margin-top: 20%;
  }
  
  .burger-content-element{
	display: flex;
	align-items: center;
	margin-left: 10%;
	margin-top: 8px;
  }
  
  .burger-content-element p a{
	margin-left: 10px;
	color: #000;
	text-decoration: none;
	font-size: 22px;
  }
  
  .burger-content-element-leave{
	display: flex;
	align-items: center;
	margin-left: 10%;
  }
  
  .burger-content-element-leave p a{
	margin-left: 10px;
	font-size: 18px;
	color: #FF5757;
	text-decoration: none;
  }
  
  .calendar__head_adapt {
	display: none;
  }
  
  .back {
	display: none;
  }
  
  
  .leave-button{
	margin-top: 10%;
  }
  
  .leave-button button{
	width: 120px;
	height: 35px;
	color: #FFFFFF;
	background-color: red;
	border: none;
	border-radius: 10px;
  }  


  
/* our courses */

@-webkit-keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
  
	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
  }
  
  @keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
  
	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
  }
  
  .courses_sectors_images{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3%;
  }
  
  .courses_sectors_images img{
	width: 90%;
  }
  
  .red{
	color: #FF5757;
  }
  
  .sidebar-logo {
	margin-bottom: 30px;
  }
  
  .sidebar-logo p {
	margin-left: 30px;
  }
  
  .sidebar {
	height: 100%;
	width: 85px;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: #22549E;
	border-right: 1px solid #003c97;
	transition: 0.5s;
	overflow-x: hidden;
	padding-top: 30px;
	white-space: nowrap;
	display: none;
  }
  
  .sidebar a:last-child{
	margin-top: 10px;
  }
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	display: block;
  }
  
  .sidebar img{
	margin-bottom: -5px;
  }
  .orange {
	color: #FB6D3A;
  }
  
  main .sidebar {
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
  }
  .container {
	gap: 20px
  }
  .data-password {
	margin-bottom: 10%;
  }
  
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
  
	.sidebar a {
		font-size: 18px;
	}
  }
  
  @media screen and (min-width:601px) and (max-width:1100px) {
	.content{
	  width: 100% !important;
	  margin-left: 90px !important;
	}
	.side_bar_logo {
		position: relative;
		right: 18%;
	}
	.sidebar-logo{
	  display: flex;
	  align-items: center;
	}
	
	.sidebar_text{
	  margin-left: 30px;
	  margin-bottom: 30px;
	}
  
	.side_bar{
	  display: none;
	}
  
	.sidebar{
	  display: block;
	}
  
	.sidebar-logo p {
	  font-size: 25px;
	}
  
	.courses_sectors_images{
	  margin-left: 0;
	}
  
	.courses_sectors_images img{
	  width: 100%;
	}
	.main-content {
		gap: 30px;
	}
	.student-btns {
		flex-direction: column;
	}


	.btn{
		padding: 5px 20px;
	}

	.main-content{
		box-shadow: none;
	}
	
	.data-content{
		width: 250px;
	}
	
}
  @media (max-width:600px) {
	.ham {
		display: block;
	}
	.side_bar_links{
	  display: none;
	}

	.btn{
		margin-right: 10px;
	}
  
	.side_bar{
	  justify-content: space-between;
	}
  
	.all_page{
	  display: grid;
	  height: 100%;
	}
  
	.leave-button{
	  display: none;
	}
  
	.all_page {
	  display: flex;
	  flex-direction: column;
	  background-color: white;
	}
  
	.all_page .side_bar {
	  position: fixed;
	  display: flex;
	  align-items: center;
	  width: 100%;
	  background-color: #1F4989;
	  height: 60px;
	  margin: 0;
	  padding-bottom: 1.6%;
	  padding-top: 1%;
	  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 20px rgba(0, 0, 0, 0.08);
	  z-index: 100;
	}

	.main-content {
		position: relative;
		display: flex;
		justify-content: center;
		gap: 100px;
		background-color: #fff;
		box-shadow: none;
		width: 100%;
		height: 90%;
	}

	.h2{
		margin-left: 5px !important;
	}

	.student-btns{
		display: grid;
	}

	.student-data{
		width: 100%;
	}
  
	.all_page .content {
	  margin-top: 80px;
	  background-color: white;
	  height: 100%;
	  width: 100%;
	  margin-left: auto;
	  margin-right: auto;
	}
  
	.training_sectors_images {
	  display: block;
	}
  
	.users {
	  margin-top: 5%;
	  margin-bottom: 5%;
	}
  

  }

  @media (max-width:600px) {
	.main-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		right: 10%;
	}.student-img {
		margin-top: 5%;
	}
	.student-btns {
		justify-content: center;
		align-items: center;
		position: relative;
		right: 3%;
	}
	.info-types {
		margin-top: 10%;
	}
	.data-content {
		width: 70%;
	}
	.student-data {
		margin-right: auto;
		margin-left: auto;
	}
	.last {
		width: 40%;
	}
	
	.select {
		width: 100%;
	}
	.sidebar {
		display: none;
	}
	.firstbtn {
		position: relative;
		left: 10%;
	}
	.container {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		left: 15%;
		gap: 20px;
		display: flex;
		flex-direction: column;
	}
	.lastbtn {
		margin-right: 50px;
	}
	.data-title {
		font-size: 18px;
	}
	button {
		font-size: 17px;
	}
	select {
		font-size: 16px;
	}
	.data-title {
		margin-bottom: 5%;
	}
	.data-content{
		width: 250px
	}

	.student-select{
		margin-left: 50px;
	}

	.container .student-select{
		margin-left: -25px;
	}

	.info-types{
		margin-top: -30px;
	}

	.btn, .save, .del {
		width: 200px;
		height: 35px;
		padding: 0;
	}

	.password-title {
		font-size: 19px;
	}

	.all_page .content {
		margin: 0;
		border-radius: 0;
		padding-top: 80px;
	}

	.h2 {
		margin-left: 0;
	}
	.last {
		width: 100%;
	}

	.data-password{
		margin-right: 20px;
	}
}