
body {
    background-color: #22549E;
    margin: 0;
    padding: 0;
}
*{
	font-family: 'Rubik', sans-serif !important;
  }
*{
	outline: none;
}
.all_page {
    width: 100%;
    display: flex;
}

.all_page .side_bar {
    width: 20%;
    margin: 20px 0px 20px 20px;
    position: fixed;
}

.side_bar_courses {
	margin-left: 10%;
}

.side_bar_general{
	margin-left: 10%;
}

.courses_sectors_images{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 3%;
  }
  
  .courses_sectors_images img{
	width: 100%;
	border-radius: 20px;
	background-color: inherit;
  }

  .training_sectors_images img{
	border-radius: 35px;
  }
  
  .training_sectors_images img:hover{
	box-shadow: 5px 5px 4px 3px rgba(0,0,0,0.14);
	transition: 500ms;
  }
  
  .courses_sectors_images img:hover{
	box-shadow: 3px 4px 5px 5px rgba(0,0,0,0.14);
	transition: 500ms;
  }
  
.side_bar_general .side_bar_text {
    color: #FB6D3A;
}

.side_bar_student {
	margin-left: 10%;
}

.side_bar_settings{
	margin-left: 10%;
}

.side_bar_timeTable {
	margin-left: 10%;
}

.side_bar_answers {
	margin-left: 10%;
}

.leaveicon {
    display: none;
}

.all_page .content {
	margin: 20px  20px 20px 20%;
}

.pagename {
    margin: 3% 0 0 5%;
}

.pagename h2 {
    margin: 1%;
    width: 100%;
}

.litletitle a {
    font-size: 14px;
    margin: 0 0 0 1%;
    color: #686868;
}

.leave-button button{
	width: 120px;
	height: 35px;
	color: #FFFFFF;
	background-color: red;
	border: none;
	border-radius: 10px;
	margin-top: 25px;
  }

.content-header {
	width: 100%;
	margin-top: 5%;
    display: flex;
    flex-direction: column;
	width: 83%;
}

.createModul {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
    color: #0067F5;
     margin-left: 5%;
}

.createModul  p {
	font-weight: bold;
}

.choisecourse {
	width: 50%;
	height: 45px;
	border: 1px solid #0067F5;
	border-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choisecourse img {
	width: 29px;
	height: 29px;
	margin-right: 2%;
}

select {
	width: 80%;
	border: none;
	color: #0067F5;
}

option {
	border: none;
}

.lefside {
	width: 45%;
	margin-top: 2%;
}

.radio {
	width: 90%;
	margin-top: 3%;
}

.modulinput {
    border: 1px solid #0067F5;
    border-radius: 14px;
    width: 95%;
    height: 40px;
    margin-bottom: 4%;
}

.biginput {
	height: 120px;
}

.rightside{
	width: 45%;
	margin-top: 2%;
} 

.select23 {
	width: 70% !important;
}
 
.teachers {
	margin-top: 10%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5% 0 2%;
}

.save {
    width: 120px;
    padding: 1% 0;
    border: 1px solid #0067F5;
    border-radius: 14px;
    color: #0067F5;
}

.addlessons {
	background-color: #0078C2;
    color: #fff;
    border: none;
    border-radius: 14px;
    padding: 10px 40px;    
}

.backPage {
    margin-left: 3%;
}

@media (max-width: 900px) {

	.rightside {
		width: 100%;
	}

	.lefside {
		width: 100%;
	}

	.buttons{
		margin-top: 8%;
	}
}

@media (max-width: 700px) {
	.all_page .content {
		width: 95% !important;
    	margin-top: 80px;
    	margin-left: auto;
    	margin-right: auto;
	}

	.rightside {
		margin-top: 0;
	}

	.buttons {
		width: 100%;
		flex-direction: column-reverse;
		align-items: center;
	}

	.addlessons {
		width: 230px;
		margin-bottom: 3%;
	}

	.choisecourse{
		width: 95%;
	}
}