/* static/css/student.css */

body {
  margin: 0;
  padding: 0;

}


.content {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  font-weight: bold;
  margin: 30px;
}

td {
  border-bottom: 1px solid #ddd;
}

td a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  font-size: 16px;
  color: #888;
}

/* Additional styles for the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  color: black;
}

a.view-progress {
  color: #007BFF;
  text-decoration: none;
  margin-right: 10px;
}

a.view-progress:hover {
  text-decoration: underline;
}

a.generate-certificate {
  color: #28a745;
  text-decoration: none;
}

a.generate-certificate:hover {
  text-decoration: underline;
}


/* Add the styles for the student table */
.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.student-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.student-table a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.student-table a:hover {
  background-color: #45a049;
}
