/* BODY */

body {
    background-color: #22549E;
    margin: 0;
    padding: 0;
}

*{
  font-family: 'Rubik', sans-serif !important;
}

/* ----------------------------------------- */

/* ALL PAGE */

.all_page {
    width: 100%;
    display: flex;
}

.all_page .side_bar {
    width: 20%;
    margin: 20px 0px 20px 20px;
}

.all_page .content {
    background-color: white;
    border-radius: 20px;
    height: 100%;
    width: 77%;
    margin: 20px;
    padding: 20px;
}


/* ----------------------------------------- */

/* SIDE BAR */

.side_bar {
    text-align: center;

}

/* SIDE BAR - LOGO */

a {
    color: white;
    font-family: Roboto;
    text-decoration: none;
}

.side_bar_logo_settings {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.side_bar_logo_text {
    margin-left: 5%;
    font-size: 24px;
    font-weight: medium;
    margin-top: 10%;
}

/* SIDE BAR - LINKS */

.side_bar_links {
    margin-top: 30%;
    margin-left: 10%;
}

.side_bar_img {
    margin-left: 5%;
}

.side_bar_text {
    margin-left: 5%;
    font-size: 100%;
}

.side_bar_courses {
    display: flex;
    align-items: center;
}

.side_bar_general {
    display: flex;
    align-items: center;
}

.side_bar_student{
	display: flex;
	align-items: center;
	margin-top: 2%;
}

.side_bar_answers{
	display: flex;
	align-items: center;
	margin-top: 2%;
}

.leave-button button{
  width: 120px;
  height: 35px;
  color: #FFFFFF;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}

.side_bar_timeTable {
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.side_bar_settings {
    display: flex;
    align-items: center;
    width: 110%;
    border-radius: 20px 0 0 20px;
}

.side_bar_settings p a{
    color: #FB6D3A;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

.input {
    width: 250px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #DCEAFF;
    color: #727272;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 14.22px;
    line-height: 19px;
    color: #727272;
}

.profile_header {
    background-color: #0F54BC;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 50px;
}

.profile_header h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 15px;
}

.profile {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 5px;
}

.courses_sectors_images{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3%;
}

.courses_sectors_images img{
  width: 100%;
  border-radius: 20px;
  background-color: inherit;
}

.training_sectors_images img{
  border-radius: 35px;
}

.training_sectors_images img:hover{
  box-shadow: 5px 5px 4px 3px rgba(0,0,0,0.14);
  transition: 500ms;
}

.courses_sectors_images img:hover{
  box-shadow: 3px 4px 5px 5px rgba(0,0,0,0.14);
  transition: 500ms;
}

.profile-img {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 40%;
    height: 100%;
}

.user-img{
  width: 65px;
  border-radius: 65px;
}

.pen{
  position: absolute;
  width: 20px;
  margin-top: 40px;
  margin-left: -12px;
}

.profileText {
    margin-left: 7%;
}

.profileText h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000;
}

.profileText p {
    width: 200px;
    margin-top: -5%;
    font-style: normal;
    font-weight: 400;
    font-size: 14.22px;
    line-height: 17px;
    color: #727272;
}

.button {
    margin-top: 5%;
    width: 140px;
    height: 40px;
    background: #0F54BC;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-green {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #00997E;
    margin-top: 5%;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    cursor: pointer;
}

.button-support {
    background: #00997E;
    margin-top: 20%;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    cursor: pointer;
}

form h2{
    margin-top: 10%;
    color: #727272;
    font-size: 20px;
}

.security{
    width: 48%;
}

.profile-form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inputsDiv{
    margin-top: 20px;
}

.security-support{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.d-g{
    display: grid;
    justify-content: center;
}

.profile-header {
    background-color: #0F54BC;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 50px;
    margin-top: -15px;
}

.profile-header h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 15px;
}

.red{
    color: #FF5757;
  }

  .sidebar-logo {
    margin-bottom: 30px;
  }
  
  .sidebar-logo p {
    margin-left: 30px;
  }
  
  .sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #22549E;
    border-right: 1px solid #003c97;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    white-space: nowrap;
    display: none;
  }
  
  .sidebar a:last-child{
    margin-top: 10px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
  }
  
  .sidebar svg{
    margin-bottom: -5px;
  }

  .orange {
    color: #FB6D3A;
  }
  
  main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
  }
  
  /* BURGER MENU */
  
  .burger-content {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    transition: all 1s;
    top: 0;
  }
  
  .ham {
    display: none;
    position: fixed;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 10px;
    z-index: 99;
  }
  
  .hamRotate.active {
    transform: rotate(45deg);
  }
  
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #d0d0d0;
    stroke-width: 5;
    stroke-linecap: round;
  }
  
  .ham6 .top {
    stroke-dasharray: 40 172;
  }
  .ham6 .middle {
    stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }
  .ham6.active .top {
    stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }

  .burger-content .burger-content-element:first-child, .burger-content-element-leave:last-child{
    margin-top: 20%;
  }
  
  .burger-content-element{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 8px;
  }
  
  .burger-content-element p a{
    margin-left: 10px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
  
  .burger-content-element-leave{
    display: flex;
    align-items: center;
    margin-left: 10%;
  }
  
  .burger-content-element-leave p a{
    margin-left: 10px;
    font-size: 18px;
    color: #FF5757;
    text-decoration: none;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
  
    .sidebar a {
        font-size: 18px;
    }
  }
  
  @media screen and (min-width:600px) and (max-width:1100px) {
    .content{
      margin-left: 90px !important;
      width: 100% !important;
    }
  
    .sidebar-logo{
      display: flex;
      align-items: center;
    }
  
    .sidebar_text{
      margin-left: 30px;
      margin-bottom: 30px;
    }
  
    .side_bar{
      display: none;
    }
  
    .sidebar{
      display: block;
    }
  
    .sidebar-logo p {
      font-size: 25px;
    }
  
    .courses_sectors_images{
      margin-left: 0;
    }
  
    .courses_sectors_images img{
      width: 100%;
    }
  }

  @media (max-width:900px){
    .input{
        width: 200px !important;
    }

    .security-support{
        display: grid;
        justify-content: center;
    }

    .security{
        width: 100%;
        margin-right: 60px;
    }

    .button-support{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:400px) {
  .m-r{
    margin-left: -10%;
    width: 120%;
  }
}

@media (max-width:600px) {
    .ham {
        display: block;
    }
    .side_bar_links{
      display: none;
    }
    
  
    .side_bar{
      justify-content: space-between;
    }
  
    .all_page{
      display: grid;
      height: 100%;
    }
  
    .leave-button{
      display: none;
    }
  
    .all_page {
      display: flex;
      flex-direction: column;
      background-color: white;
    }
  
    .all_page .side_bar {
      position: fixed;
      display: flex;
      align-items: center;
      width: 100%;
      background-color: #1F4989;
      height: 60px;
      margin: 0;
      padding-bottom: 1.6%;
      padding-top: 1%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 20px rgba(0, 0, 0, 0.08);
      z-index: 99999;
    }

    .all_page .content {
      margin-top: 80px;
      background-color: white;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0;
    }
  
    .training_sectors_images {
      display: block;
    }
  
    .training_sectors_images img {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .training_sectors_h2 {
      margin-left: 10%;
    }
  
    .courses_sectors_images{
      display: grid;
    }

    form h2{
      font-size: 16px;
    }
  
  }