/* Пример стилей для адаптации к мобильным устройствам */

/* Общий стиль для body */
body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

/* Стиль для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
}

/* Стиль для заголовков таблицы */
th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Стиль для ячеек таблицы */
td {
  padding: 10px;
  text-align: left;
}

/* Стиль для мобильных устройств */
@media (max-width: 768px) {
  /* Скрываем заголовки таблицы, не вмещающиеся на экране */
  th:nth-child(4),
  th:nth-child(5),
  th:nth-child(6) {
    display: none;
  }

  /* Скрываем ячейки таблицы, не вмещающиеся на экране */
  td:nth-child(4),
  td:nth-child(5),
  td:nth-child(6) {
    display: none;
  }

  /* Изменяем размер текста в таблице для мобильных устройств */
  th,
  td {
    font-size: 14px;
  }

  /* Стили для графиков на мобильных устройствах */
  #testScoresChart,
  #essaySubmissionsChart {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
  }
}


/* Общие стили для графиков */
canvas {
  max-width: 100%;
}


