/* responsive.css */

/* Add responsive styles here */

/* For small screens (phones) */
@media (max-width: 767px) {
  .schedule {
    display: block;
  }

  .schedule-header {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .schedule-item {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }

  .schedule-time,
  .schedule-time_start,
  .schedule-time_end {
    display: none;
  }

  .schedule-item:nth-child(odd) {
    background-color: #f9f9f9;
  }
}





