/* BODY */

body {
  background-color: #22549E;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Rubik', sans-serif !important;
  outline: none;
}

/* ----------------------------------------- */

/* ALL PAGE */

.courses_sectors_images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3%;
}

.courses_sectors_images img {
  width: 100%;
  border-radius: 20px;
  background-color: inherit;
}

.training_sectors_images img {
  border-radius: 35px;
}

.training_sectors_images img:hover {
  box-shadow: 5px 5px 4px 3px rgba(0, 0, 0, 0.14);
  transition: 500ms;
}

.courses_sectors_images img:hover {
  box-shadow: 3px 4px 5px 5px rgba(0, 0, 0, 0.14);
  transition: 500ms;
}

.all_page {
  width: 100%;
  display: flex;
}

.all_page .side_bar {
  width: 20%;
  margin: 20px 0px 20px 20px;
}

.all_page .content {
  background-color: white;
  border-radius: 40px;
  height: 100%;
  width: 77%;
  margin: 20px;
  overflow: hidden;
}


/* ----------------------------------------- */

/* SIDE BAR */

.side_bar {
  text-align: center;

}

/* SIDE BAR - LOGO */

a {
  color: white;
  font-family: Roboto;
  text-decoration: none;
}

.side_bar_logo_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.side_bar_logo_text {
  margin-left: 5%;
  font-size: 24px;
  font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar {
  text-align: center;

}

/* SIDE BAR - LOGO */

a {
  color: white;
  font-family: Roboto;
  text-decoration: none;
}

.side_bar_logo_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.side_bar_logo_text {
  margin-left: 5%;
  font-size: 24px;
  font-weight: medium;
}

/* SIDE BAR - LINKS */



.all_page .content {
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 77%;
}

.leave-button button {
  width: 120px;
  height: 35px;
  color: #FFFFFF;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}

/* ----------------------------------------- */

/* SIDE BAR */

.side_bar {
  text-align: center;
}

/* SIDE BAR - LOGO */

a {
  color: white;
  font-family: Roboto;
  text-decoration: none;
}

.side_bar_logo_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.side_bar_logo_text {
  margin-left: 5%;
  font-size: 24px;
  font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar_links {
  margin-top: 30%;

}

.side_bar_general {
  display: flex;
  align-items: center;
}


.side_bar_img {
  margin-left: 5%;
}

.side_bar_text {
  margin-left: 5%;
  font-size: 100%;
}

.side_bar_settings {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_courses {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.support-img {
  margin-top: 25%;
  align-items: center;
  justify-content: center;
}

.support-img img {
  width: 60%;
  height: 100%;
}

.side_bar_timeTable {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_student {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_answers {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

/* SEARCH INPUT */

/* our courses */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.courses_sectors_images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.courses_sectors_images img {
  width: 90%;
}

.red {
  color: #FF5757;
}

.sidebar-logo {
  margin-bottom: 30px;
}

.sidebar-logo p {
  margin-left: 30px;
}

.sidebar img {
  margin-bottom: -5px;
}

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #22549E;
  border-right: 1px solid #003c97;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 30px;
  white-space: nowrap;
  display: none;
}

.sidebar a:last-child {
  margin-top: 10px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidebar svg {
  margin-bottom: -5px;
}

.orange {
  color: #FB6D3A;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

/* BURGER MENU */

.burger-content {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  transition: all 1s;
  top: 0;
}

.ham {
  position: fixed;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 10px;
  z-index: 99;
  display: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #d0d0d0;
  stroke-width: 5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}

.ham6 .middle {
  stroke-dasharray: 40 111;
}

.ham6 .bottom {
  stroke-dasharray: 40 172;
}

.ham6.active .top {
  stroke-dashoffset: -132px;
}

.ham6.active .middle {
  stroke-dashoffset: -71px;
}

.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.burger-content .burger-content-element:first-child,
.burger-content-element-leave:last-child {
  margin-top: 20%;
}

.burger-content-element {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 8px;
}

.burger-content-element p a {
  margin-left: 10px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.burger-content-element-leave {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.burger-content-element-leave p a {
  margin-left: 10px;
  color: #FF5757;
  text-decoration: none;
}

tr {
  margin-right: 10px;
}


@media screen and (min-width:601px) and (max-width:1100px) {
  .content {
    margin-left: 90px !important;
    width: 100% !important;
  }

  .sidebar-logo {
    display: flex;
    align-items: center;
  }

  .inputDiv input {
    width: 98%;
  }

  .sidebar_text {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .side_bar {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .sidebar-logo p {
    font-size: 25px;
  }

  .courses_sectors_images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    justify-content: center;
    gap: 1rem;
    transition: 1s;
  }

  .courses_sectors_images img {
    width: 230px;
  }

  .savebtn button {
    width: 45%
  }
}

@media (max-width:600px) {
  .ham {
    display: block;
  }

  .side_bar_links {
    display: none;
  }

  .content {}

  .inputDiv input {
    width: 98%;
  }

  .addTest {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .side_bar {
    z-index: 9999;
    justify-content: space-between;
  }

  .all_page {
    display: grid;
    height: 100%;
  }

  .leave-button {
    display: none;
  }

  .all_page {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .all_page .side_bar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1F4989;
    height: 60px;
    margin: 0;
    padding-bottom: 1.6%;
    padding-top: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 20px rgba(0, 0, 0, 0.08);
  }

  .savebtn button {
    width: auto;
  }
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.side_bar_links {
  margin-top: 30%;
  margin-left: 10%;
}

.side_bar_general {
  display: flex;
  align-items: center;
}

.side_bar_students p a {
  color: #FB6D3A;
}

.side_bar_student {
  display: flex;
  align-items: center;
  margin-top: 2%;
  width: 110% !important;
  border-radius: 20px 0 0 20px;
}

.side_bar_answers {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_img {
  margin-left: 5%;
}

.side_bar_text {
  margin-left: 5%;
  font-size: 100%;
}


.side_bar_courses {
  display: flex;
  align-items: center;
}

.support-img {
  margin-top: 25%;
  align-items: center;
  justify-content: center;
}

.support-img img {
  width: 60%;
  height: 100%;
}

.side_bar_timeTable {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_settings {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

/* SIDEBAR */

main {
  padding: 0 48px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.user-img {
  margin-left: 1%;
  margin-top: 2%;
}

.form {
  --input-text-color: #1b9bee;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --width-of-input: 100%;
  --inline-padding-of-input: 1.2em;
  --gap: -0.5rem;
}

/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
  width: 30%;
  height: 37px;
  margin-right: 50px;
  background: #DCEAFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

/* styling search-icon */
.form svg {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}

/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}

/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}

/* input background change in focus */
.input:focus~.fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}

/* search icon color change in focus */
.input:focus~.search {
  fill: var(--active-color);
}

/* showing close button when typing */
.input:valid~.close-btn {
  opacity: 1;
  visibility: visible;
}

/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}


.burger {
  margin-left: 1%;
}

h2 {
  color: #000;
}

h2 {
  color: #000;
}

/* Main */

main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.expandables {
  width: 100%;
  display: flex;
  align-items: center;
}

.move_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: #1b9bee;
  color: #fff;
  padding: 13px 20px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 30px;
}

.current-month {
  color: #000;
  font-weight: bold;
  margin-left: 30px;
}

.month-select {
  width: 120px;
  height: 38px;
  opacity: 0.9;
  margin-right: 30px;
  padding: 2px;
  width: 100%;
  background: #DCEAFF;
  border-radius: 14px;
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.monthButton {
  margin-right: 3%;
}

#second-title-table {
  position: relative;
  left: 113%;
}

.button {
  width: 140px;
  height: 40px;
  background: #0F54BC;
  border: none;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}


.leave-button {
  margin-top: 10%;
}

.leave-button button {
  width: 120px;
  height: 35px;
  color: #FFFFFF;
  background-color: red;
  border: none;
  border-radius: 10px;
}

/* Таблица учеников */

.table-container {
  display: flex;
  width: 100%;
  transition: 1s all;
}

table {
  justify-content: center;
  border-collapse: collapse;
  width: 100%;
}

td {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 17px;
  position: relative;
}

thead {
  display: flex;
  justify-content: center;
  gap: 100px;
}

tr th {
  width: 10%;
}

th {
  border: none;
  padding: 8px;
  position: relative;
  font-size: 18px;
  font-weight: 300;
}

td::before,
th::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: 1px;
  height: 100%;
}

td::after,
th::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -1px;
  width: 100%;
  height: 1px;
}

.send img {
  user-select: none;
  /* Запретить выделение текста и изображений */
  -moz-user-select: none;
  /* Для поддержки в Firefox */
  -webkit-user-drag: none;
  /* Для поддержки в браузерах на основе WebKit */
  -webkit-user-select: none;
  /* Для поддержки в браузерах на основе WebKit */
  -ms-user-select: none;
  /* Для поддержки в Internet Explorer/Edge */
  background-color: inherit;
  width: 35px;
  margin-top: 2px;
}

.send {
  background-color: initial;
  border: none;
  cursor: pointer;
  margin-right: -50px;
}

/* Ссылки студентов */

.student-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 9px;
  margin-top: 50px;
}

.student-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.student-item a {
  color: #1F4989;
}

/* списки */

.expandable {
  background: #DCEAFF;
  box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 15px 0 4px 10px;
  margin-left: 30px;
  margin-top: 30px;
  width: 20%;
}

.expandable_second {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.expandable__button {
  background: none;
  border: none;
  outline: none;
}

select {
  background: transparent;
  width: 95%;
  border: none;
  margin-bottom: 10px !important;
}

.big-list {
  display: none;
  position: absolute;
  width: 40%;
}

.big-text-container {
  width: 40%;
  height: 50%;
  position: fixed;
  background-color: #6CAFD9;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -1%;
  margin-left: 17%;
  margin-bottom: 3000px;
  padding: 50px 0 50px 30px;
  border-radius: 25px;
}

.big-text {
  flex-shrink: 0;
  margin-bottom: 20px;
}

.exit-btn {
  background-color: #C21700;
  border: none;
  padding: 13px 20px;
  border-radius: 14px;
  color: #fff;
  margin-top: 20px;
  margin-left: 75%;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.studentscards {
  display: none;
}



/* Albina edit */

.show-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto 48px;
  border: none;
  outline: none;
  background: #1b9bee;
  color: #fff;
  padding: 13px 20px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.show-more:disabled {
  background-color: #6d7378;
  cursor: auto;
}

.students__content {
  width: 100%;
  display: grid;
  overflow: hidden;
}

.students__titles, .students__links, .students__item-content, .students__table {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.students__links {
  gap: 40px;
}

.students__titles {
  width: 552px;
  font-size: 18px;
  margin-bottom: 13px;
  padding-left: 19px;
}

.students__table {
  width: 505px;
  padding: 20px;
  border-top: 1px solid #e1e1e1;
}

.students__content a {
  color: #1F4989;
}


/* Albina Adaptation */

@media (max-width:850px) {
  .search-footer {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .expandables {
    width: 95%;
    gap: 15px;
  }

  .expandable {
    margin: 0;
  }
  
  main {
    padding: 0;
  }

  .students__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .students__item-content {
    border-radius: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    padding: 5% 0 5% 5%;
    flex-direction: column;
    margin: 5% auto;
    width: 80%;
  }

  .students__titles, .students__links, .students__table {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: auto;
  }
  
  .students__item-content {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .students__table {
    border: 0;
    padding: 0;
    padding-bottom: 20px;
    gap: 15px;
  }

  .students__name::before {
    content: "Имя: ";
  }

  .students__id::before {
    content: "ID: ";
  }

  .students__titles {
    display: none;
  }

  .students__links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (max-width:600px) {


  .students__item-content {
    padding: 7% 0 7% 5%;
  }
  .students__table {
    gap: 20px;
    padding-bottom: 25px;
  }
}

@media (max-width: 300px) {
  .students__item-content {
    padding: 10% 0 10% 10%;
  }
  
  .students__name::before {
    content: "";
  }

  .students__id::before {
    content: "";
  }
}



/* Albina Adaptation end */

@media (max-width:850px) {
  .form {
    width: 90%;
    margin-left: 0;
  }

  .container {
    flex-direction: column;
  }

  .expandable {
    width: 80%;
  }

  .studentscards {
    width: 80%;
    margin: 5% auto;
    border-radius: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    padding: 5%;
  }

  .name {
    display: flex;
    justify-content: space-around;
  }

  .student-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    right: 7%;
  }

  .first {
    width: 60%;
  }

  .content-header {
    flex-direction: column;
    align-items: right !important;
  }

  .search-footer input {
    width: 100% !important;
  }
}

@media (max-width:600px) {

  .all_page .content {
    background-color: white;
    height: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-header {
    flex-direction: column;
    align-items: right !important;
  }

  .form {
    width: 90%;
    margin-left: 0;
  }

  .container {
    flex-direction: column;
  }

  .expandable {
    width: 80%;
  }

  .studentscards {
    width: 80%;
    margin: 5% auto;
    border-radius: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    padding: 5%;
  }

  .name {
    display: flex;
    justify-content: space-around;
  }

  .student-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    right: 7%;
  }

  .first {
    width: 60%;
  }
}

@media (min-width:851px) and (max-width:1100px) {
  .student-links {
    margin-top: 70px;
  }
}

.search-footer {
  width: 70%;
  margin-left: 30%;
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
}

.search-footer input {
  width: 350px;
  border-radius: 30px;
  border-color: #1b9bee;
  padding: 15px 0 15px 15px;
  outline: none;
}

.search-footer button {
  outline: none;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #1b9bee;
  padding: 10px;
  position: absolute;
  right: 4px;
  cursor: pointer;
  transition: .3s;
  color: white;
  font-size: 15px;
}

.filter {
  width: 20%;
  position: relative;
  margin-left: 30px;
}

.filter p {
  cursor: pointer;
}

.filter-up {
  padding: 5px;
  background: #DCEAFF;
  border-radius: 8px;
  color: rgb(0, 0, 0, 0.5);
  font-size: 15px;
}

.filter-down {
  padding: 10px 15px;
  background: #DCEAFF;
  border-radius: 8px;
  color: rgb(0, 0, 0, 0.5);
  font-size: 15px;
  margin-top: 10px;
}

.filter-down p {
  padding: 7px 10px;
}

.filter-down p:hover {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 8px;
}

.hidden {
  display: none;
}


