/* BODY */

body {
  background-color: #22549E;
  margin: 0;
  padding: 0;
}

*{
	font-family: 'Rubik', sans-serif !important;
  }

/* ----------------------------------------- */

/* ALL PAGE */

.all_page {
  width: 100%;
  display: flex;
}

.all_page .side_bar {
  width: 20%;
  margin: 20px 0px 20px 20px;
  text-align: center;
  position: fixed;
}

.all_page .content {
  background-color: white;
  border-radius: 40px;
  height: 100%;
  width: 77%;
  margin: 20px 20px 20px 20%;
  overflow: hidden;
}


/* ----------------------------------------- */

.courses_sectors_images{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3%;
}

.courses_sectors_images img{
  width: 100%;
  border-radius: 20px;
  background-color: inherit;
}

.training_sectors_images img{
  border-radius: 35px;
}

.training_sectors_images img:hover{
  box-shadow: 5px 5px 4px 3px rgba(0,0,0,0.14);
  transition: 500ms;
}

.courses_sectors_images img:hover{
  box-shadow: 3px 4px 5px 5px rgba(0,0,0,0.14);
  transition: 500ms;
}
/* SIDE BAR - LOGO */

a {
  color: white;
  font-family: Roboto;
  text-decoration: none;
}

.side_bar_logo_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.side_bar_logo_text {
  margin-left: 5%;
  font-size: 24px;
  font-weight: medium;
}

/* SIDE BAR - LINKS */
.side_bar {
  text-align: center;
}

/* SIDE BAR - LOGO */

a {
  color: white;
  font-family: Roboto;
  text-decoration: none;
}

.side_bar_logo_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.side_bar_logo_text {
  margin-left: 5%;
  font-size: 24px;
  font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar_links {
  margin-top: 30%;
}

.side_bar_general {
  display: flex;
  align-items: center;
  margin-left: 10%;
  width: 100%;
  border-radius: 20px 0 0 20px;
}

.side_bar_general .side_bar_text {
  color: #FB6D3A;
}

.side_bar_img {
  margin-left: 5%;
}

.side_bar_text {
  margin-left: 5%;
  font-size: 100%;
}


.side_bar_courses {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;

}

.side_bar_student {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}

.side_bar_answers {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}

.support-img {
  margin-top: 25%;
  align-items: center;
  justify-content: center;
}

.support-img img {
  width: 60%;
  height: 100%;
}

.side_bar_timeTable {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}

.side_bar_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}

.leave-button button{
  width: 120px;
  height: 35px;
  color: #FFFFFF;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}

.leaveicon {
  display: none;
}
/* SIDEBAR */


.content-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3% 0 0 5%;
}

.content-header h2{
	margin:  0;
}



.back-header a {
	font-size: 13px;
	font-weight: 300;
	color: rgba(104, 104, 104, 1);
}


/* label styling */
label {
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}





/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}



h2{
  color: #000;
}

/* Main */


.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 5% 0;
  padding: 0 3%;
}



/* Тема */

.add-text {
	color: #0067F5;
	font-weight: 600;
	font-size: 14px;
	
}

.add-input {
	padding: 1% 1% 1% 1%;
	border: 1px solid #0067F5;
	border-radius: 14px;
	background-color: #fff;
	width: 25%;
	box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.25);
}



/* списки */

.expandable {
	background: #fFF; 
	box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.25); 
	border-radius: 14px; 
	padding: 1% 2%;
	width: 20%;     
	border: 1px solid #0067F5;
} 


.expandable option {
	color: #0067F5;
} 
 
/* Главная */

.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 5%;
    color: #0067F5;
    font-weight: 500;
    font-size: 14px;

}

.btn {
    background-color: #0078C2;
    color: #fff;
    border: none;
    border-radius: 14px;
    padding: 10px 40px;
    margin-left: 50px;
}

.addImg {
	border: 1px solid #0067F5;
	border-radius: 14px;
	padding: 9% 22%;
	box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.25);
}

.groups {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 7% 0;
	justify-content: space-between;
}
.textareas {
	width: 40%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10%;
}

.area-container {
	display: flex;
	flex-direction: column;
}

.biginput {
	height: 80px !important;
}

.area-text {
  border: 1px solid #0067F5;
  border-radius: 14px;
  width: 90%;
  height: 40px;
  margin-bottom: 4%;
}

.data-select {
	display: flex;
	flex-direction: column;
	border: 1px solid #0067F5;
  border-radius: 14px;
  width: 70%;
  padding: 2%;
  margin-top: 7%;
}

.data-select p {
	margin: 2% 0;
}

.choisedate{
	margin-top: 2%;
}

input[type="date" i] {
	width: 80%;
	overflow:visible;
	border: 1px transparent;
	color: #0067F5;
	border-top: 1px solid #0067F5;
	padding: 1% 5%;
}

.buttonformobile {
  display: none;
}


.back {
	margin-top: 1.5%;
	margin-left: 4%;
	transform: rotate(180deg);
	margin-bottom: 3%;
}

@media (max-width: 700px) {
  .all_page .content {
    width: 97% !important;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.buttonfordelet {
  display: none;
}

.buttonformobile {
  display: block;
}

.container {
  flex-direction: column;
}

.add-input {
  width: 80%;
  margin-top: 2%;
}

.expandable {
  width: 70%;
  margin-top: 7%;
}

.addImg {
 padding: 9% 35%;
}

.groups {
  flex-direction: column;
}

.textareas {
  width: 90%;
  margin: 0 auto;
}

.area-text {
  width: 100%;
}

.btn {
  margin: 0 auto 15%;

}

.savebtn {
  display: flex;
  justify-content: center;
}
}