/* BODY */

body {
  background-color: #22549E;
  margin: 0;
  padding: 0;
  color: #22549E;
}

* {
  font-family: 'Rubik', sans-serif !important;
  box-sizing: border-box;
}

/* ----------------------------------------- */

/* ALL PAGE */

.all_page {
  width: 100%;
  display: flex;
}

.all_page .side_bar {
  width: 20%;
  margin: 20px 0px 20px 20px;
  z-index: 99;
}

.all_page .content {
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 77%;
  margin: 20px;
}

.leave-button button {
  width: 120px;
  height: 35px;
  color: #FFFFFF;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}

/* ----------------------------------------- */

/* SIDE BAR */

.side_bar {
  text-align: center;
}

/* SIDE BAR - LOGO */

a {
  color: white;
  font-family: Roboto;
  text-decoration: none;
}

.side_bar_logo_settings {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.side_bar_logo_text {
  margin-left: 5%;
  font-size: 24px;
  font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar_links {
  margin-top: 30%;
  margin-left: 10%;
}

.side_bar_general {
  display: flex;
  align-items: center;
  width: 110%;
  border-radius: 20px 0 0 20px;
}

.side_bar_general p a {
  color: #FB6D3A;
}

.side_bar_img {
  margin-left: 5%;
}

.side_bar_text {
  margin-left: 5%;
  font-size: 100%;
}

.side_bar_settings {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_courses {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.support-img {
  margin-top: 25%;
  align-items: center;
  justify-content: center;
}

.support-img img {
  width: 60%;
  height: 100%;
}

.side_bar_timeTable {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_student {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.side_bar_answers {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

/* SEARCH INPUT */

.courses_sectors_images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  justify-content: space-evenly;
  gap: 20px;
  margin-left: 3%;
}

.training_sectors_images img {
  border-radius: 35px;
}

.training_sectors_images img:hover {
  box-shadow: 5px 5px 4px 3px rgba(0, 0, 0, 0.14);
  transition: 500ms;
}

/* this is a recreation of twitter search in css */
.content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.form {
  --input-text-color: #1b9bee;
  --input-bg-color: #F6F6F5;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 100%;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}

/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
  width: 90%;
  height: 37px;
  margin-left: 1%;
}

/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,
.close-btn {
  position: absolute;
}

/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}



/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}

/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}

/* input background change in focus */
.input:focus~.fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}

/* search icon color change in focus */
.input:focus~.search {
  fill: var(--active-color);
}

/* showing close button when typing */
.input:valid~.close-btn {
  opacity: 1;
  visibility: visible;
}

/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

/* notification-img-style */

.notification-img {
  margin-left: 1%;
}

/* users-img */

.user-img {
  margin-left: 1%;
}

/* Training sectors */


/* training_sectors_h2 */
.training_sectors_h2 {
  margin-top: 4%;
  margin-left: 5%;
}

.training_sectors_aviation {
  width: 90%;
}

/* training_sectors_images-style */
.training_sectors_images {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* .training_sectors_images .rel {
  width: 350px;
} */

/* training_sectors_images img style */
.training_sectors_images img {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  background-size: cover;
}

/* slider */

.training_slider {
  display: flex;
  align-items: center;
}

.slick-slider {
  display: flex;
}

.slick-arrow {
  font-size: 48px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.slick-arrow img {
  width: 60px;
  box-shadow: none;
  border-radius: 0;
  height: auto;
  margin: 0;
}

.slick-prev img {
  transform: rotate(180deg);
}

.slick-arrow img:hover {
  box-shadow: none;
}

/* .training_slider_cources  {
  height: 280px;
} */

/* .slick-list {
  height: 371px;
} */

.training_slider_cources .training_sectors_h2 {
  margin-top: 0;
}

/* our courses */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}


.red {
  color: #FF5757;
}

.sidebar-logo {
  margin-bottom: 30px;
}

.sidebar img {
  margin-bottom: -5px;
}

.sidebar-logo p {
  margin-left: 30px;
}

.sidebar {
  height: 100%;
  width: 8%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #22549E;
  border-right: 1px solid #003c97;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 30px;
  white-space: nowrap;
  display: none;
}

.sidebar a:last-child {
  margin-top: 10px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidebar img {
  margin-bottom: -5px;
}

.orange {
  color: #FB6D3A;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}


/* BURGER MENU */

.burger-content {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  transition: all 1s;
  top: 0;
  z-index: 99;
}

.ham {
  display: none;
  position: fixed;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 10px;
  z-index: 999;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #d0d0d0;
  stroke-width: 5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}

.ham6 .middle {
  stroke-dasharray: 40 111;
}

.ham6 .bottom {
  stroke-dasharray: 40 172;
}

.ham6.active .top {
  stroke-dashoffset: -132px;
}

.ham6.active .middle {
  stroke-dashoffset: -71px;
}

.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.burger-content .burger-content-element:first-child,
.burger-content-element-leave:last-child {
  margin-top: 20%;
}

.burger-content-element {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 8px;
}

.burger-content-element p a {
  margin-left: 10px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.burger-content-element-leave {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.burger-content-element-leave p a {
  margin-left: 10px;
  font-size: 18px;
  color: #FF5757;
  text-decoration: none;
}

.courses_sectors_images img {
  width: 90%;
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  z-index: 1;
}

.courses_sectors_images img:hover {
  border-radius: 10em;
}

.aviation-text {
  border-radius: 24px;
  background: rgba(60, 17, 134, 0.29);
  backdrop-filter: blur(18px);
  padding: 8px;
  width: 65%;
  position: absolute;
  bottom: 30px;
  margin-left: 15%;
  font-size: 14px;
  color: #fff;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 10px;
  width: 100%;
  color: #fff;
}

.aviation-img {
  margin-top: 5%;
  position: relative;
}

.aviation-text-industry {
  border-radius: 24px;
  background: rgba(148, 37, 57, 0.30);
  backdrop-filter: blur(18px);
  padding: 2%;
  width: 65%;
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  margin-left: 15%;
  color: #fff;
}

.course-type h3 {
  font-size: 16px;
}

.course-minutes {
  border-radius: 10px;
  background: #FB6D3A;
  outline: none;
  border: none;
  padding: 8px;
  color: #fff;
  backdrop-filter: blur(8px);
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

@media (min-width:601px) and (max-width:920px) {
  .training_sectors_images {
    /* flex-wrap: wrap;
    gap: 30px;
    margin-left: 20%;
    justify-content: center; */
  }

  .training_sectors_images img {
    /* width: 60%; */
  }

  .aviation-text,
  .aviation-text-industry {
    /* width: 45%; */
    font-size: 10px;
  }

  .course-info {
    /* width: 80%; */
  }

  .all_page {
    height: 100%;
  }

  /* .slick-list {
    height: 210px;
  } */
}

@media screen and (min-width:601px) and (max-width:1100px) {

  .content {
    margin-left: 80px !important;
    width: 87% !important;
  }

  .sidebar-logo {
    display: flex;
    align-items: center;
  }


  .sidebar_text {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .side_bar {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .sidebar-logo p {
    font-size: 25px;
  }

  .courses_sectors_images {
    margin-left: 0;
  }

  .courses_sectors_images img {
    width: 90%;
  }
}

@media screen and (min-width:601px) and (max-width:767px)  {
  .sidebar {
    width: 10%;
  }
}

@media (max-width:600px) {
  .ham {
    display: block;
  }

  .side_bar_links {
    display: none;
  }

  body {
    background-color: #fff;
  }

  .side_bar {
    justify-content: space-between;
  }

  .all_page {
    display: grid;
    height: 100%;
  }

  .leave-button {
    display: none;
  }

  .all_page {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .all_page .side_bar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1F4989;
    height: 60px;
    margin: 0;
    padding-bottom: 1.6%;
    padding-top: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 20px rgba(0, 0, 0, 0.08);
  }

  .all_page .content {
    margin-top: 80px;
    background-color: white;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .training_sectors_images img {
    width: 100%;
  }

  .training_slider_cources img {
    /* width: 77%; */
    margin: 0;
  }

  .training_slider_cources .course-info {
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 10px;
    margin: 0;
  }

  /* .slick-list {
    height: 200px;
    padding-top: 15px;
  } */

  .training_slider .aviation-text, .aviation-text-industry {
    width: 90%;
    margin-left: 6%;
    font-size: 9px;
    bottom: 6px;
    padding: 4px;
  }

  .training_slider_cources .aviation-text, .aviation-text-industry {
    margin-left: 4%;
    width: 90%;
    font-size: 9px;
    bottom: 6px;
    padding: 4px;
  }

  .course-minutes {
    padding: 3px;
    font-size: 11px;
  }

  .slick-arrow img {
    width: 60px;
  }
  
  .training_slider_cources .slick-arrow {
    margin-bottom: 25px;
  }

  .aviation-img{
    position: relative;
    margin-top: 0;
  }

  .training_sectors_h2 {
    margin-left: 10%;
    margin-top: 20px;
  }

  .courses_sectors_images {

    display: grid;
    justify-content: center;
  }

  .courses_sectors_images img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.overflow {
  overflow-x: scroll;
  overflow-y: inherit;
  white-space: nowrap;
}