{% extends 'users/admin/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}<link rel="stylesheet" href="{% static 'admin/css/answers.css' %}">{% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
  <div class="all_page">

    {% block content %}
        <div class="content">
          <!-- search-input -->
          <!-- my courses -->
          <div style="padding: 4%;" class="courses">
            <h2 class="my-courses-h2">Лента ответов</h2>
            <div class="answers">
            {% for comment in comments %}
            <div class="answer">
                {% if comment.is_student_comment %}
                <div class="student-answer">
                    <div style="padding: 0px 22px 0px 0px; height: 50px">
                        <img style="border-radius: 100px" width="40px"  src="{{ comment.user.image.url }}" alt=""/>
                    </div>
                    <div class="comment">

                        <div class="df">
                            <div>
                                <p style="margin-bottom: 11px">{{ comment.lesson.module.course }}. {{ comment.lesson.module }}. {{ comment.lesson }}</p>
                                <p><b>{{ comment.user.get_full_name }}</b></p>
                            </div>
                        </div>
                        <div style="margin-bottom: 40px; margin-top: 25px" class="comment-text">
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- Здесь может быть код для отображения ответов куратора на комментарии студентов, если это необходимо -->
                {% endif %}
                <div class="reply">
                    <div style="margin-bottom: 15px">Ваш ответ: </div>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <input type="text" name="curator_response" placeholder="Добавить комментарий к ответу..." class="reply-input"/>
                        <button class="send"><img src="{% static 'admin/img/send.svg' %}" alt=""/></button>
                    </form>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endblock %}


  </div>

  <script src="{% static 'admin/js/side-bar.js' %}"></script>
  <script src="{% static 'admin/js/answerVerify.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            const lessonFilter = $('#lessonFilter');
            const sortOrder = $('#sortOrder');
            const commentStatus = $('#commentStatus');
            const answersDiv = $('.answers');

            function updateLessonFilterOptions() {
                $.get('/path/to/course-options/', function(data) {
                    lessonFilter.empty().append($('<option>', {
                        value: 'all',
                        text: 'Все курсы'
                    }));

                    $.each(data.course_options, function(index, option) {
                        lessonFilter.append($('<option>', {
                            value: option.value,
                            text: option.label
                        }));
                    });
                });
            }

            function updateComments() {
                const selectedLessonFilter = lessonFilter.val();
                const selectedSortOrder = sortOrder.val();
                const selectedCommentStatus = commentStatus.val();

                const url = `/path/to/comments/?lesson_filter=${selectedLessonFilter}&sort_order=${selectedSortOrder}&comment_status=${selectedCommentStatus}`;

                answersDiv.html('<p>Loading...</p>');

                $.get(url, function(data) {
                    answersDiv.html(data.comments_html);
                });
            }

            lessonFilter.on('change', updateComments);
            sortOrder.on('change', updateComments);
            commentStatus.on('change', updateComments);

            updateLessonFilterOptions();
            updateComments();
        });
    </script>
  </div>

</body>

</html>


