{% extends 'users/admin/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}<link rel="stylesheet" href="{% static 'admin/css/answers.css' %}">{% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
  <div class="all_page">

    {% block content %}
        <div class="content">
          <!-- search-input -->
          <!-- my courses -->
          <div class="courses">
            <h2 class="my-courses-h2">Лента ответов</h2>
            <div class="main-text">
              <div class="df">
                <label class="checkbox">
                  <input name="var" type="checkbox"/>
                  <span class="checkmark"></span>
                </label>
                <p>Только курсы, в которых я являюсь учителем</p>
              </div>
              <div class="course-type">
                <select>
                  <option value="option1" selected>Все уроки</option>
                  <option value="option2">Дедлайн сегодня</option>
                  <option value="option3">Дедлайн завтра</option>
                </select>
              </div>
              <div class="course-type">
                <select>
                  <option value="option1" selected>Сначала старые</option>
                  <option value="option2">Сначала новые</option>
                </select>
              </div>
              <div class="course-type">
                <select>
                  <option value="option1" selected>Непрочитанные</option>
                  <option value="option2">Прочитанные</option>
                  <option value="option3">Принятые</option>
                  <option value="option4">Не принятые</option>
                </select>
              </div>
            </div>
            <h2 class="my-courses-h2">Все курсы</h2>
            <div class="answers">
            {% for comment in comments %}
            <div class="answer">
                {% if comment.is_student_comment %}
                <div class="student-answer">
                    <div class="ava">
                        <img width="50px" src="{% static 'admin/img/free-icon-user-profile-5675059.png' %}" alt=""/>
                    </div>
                    <div class="comment">

                        <div class="df">
                            <div>
                                <p class="date">{{ comment.lesson.module.course }}. {{ comment.lesson.module }}. {{ comment.lesson }}</p>
                                <p class="black"><b>{{ comment.user.get_full_name }}</b></p>
                            </div>
                            <div class="button">
                                <button>Ожидает проверки</button>
                            </div>
                        </div>
                        <div style="margin-bottom: 40px; margin-top: 25px" class="comment-text">
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- Здесь может быть код для отображения ответов куратора на комментарии студентов, если это необходимо -->
                {% endif %}
                <div class="reply">
                    <div style="margin-bottom: 15px">Ваш ответ: </div>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <input type="text" name="curator_response" placeholder="Добавить комментарий к ответу..." class="reply-input"/>
                        <button class="send"><img src="{% static 'admin/img/send.svg' %}" alt=""/></button>
                    </form>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endblock %}


  </div>

  <script src="{% static 'admin/js/side-bar.js' %}"></script>
  <script src="{% static 'admin/js/answerVerify.js' %}"></script>
  </div>

</body>

</html>


