<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'admin/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{% static 'admin/css/styles.min.css' %}">

    {% block css %}
        <script src="{% static 'admin/js/script.min.js' %}"></script>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        .card a {
            text-decoration: none !important;
        }

        .course-card a {
            text-decoration: none !important;
        }
    </style>
</head>

<body id="page-top">
<div id="wrapper">
    {% block sidebar %}
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
             style="height: 1551px;width: 104px;background: #22549E; border-radius: 0px 25px 0px 0px;">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-text mx-3"><span style="font-size: 13px;">STANDARD TRANSIT</span></div>
            </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a
                            class="nav-link {% if request.path == '/users/administrator/' %}active{% endif %}"
                            href="{% url 'users:admin:administrator' %}"><i
                            class="fas fa-store-alt"></i><span>Главная</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/users/administrator/courses/' %}active{% endif %}"
                           href="{% url 'users:admin:courses:courses' %}">
                            <i class="fas fa-clipboard-check"></i>
                            <span>Курсы</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/users/administrator/admin_check/students/' %}active{% endif %}"
                           href="{% url 'users:admin:students_admin_check' %}">
                            <i class="fas fa-user"></i>
                            <span>Студенты</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/users/administrator/admin_check/curators/' %}active{% endif %}"
                           href="{% url 'users:admin:curators_admin_check' %}">
                            <i class="fas fa-user-md"></i>
                            <span>Кураторы</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/users/administrator/schedule/student-schedule/' %}active{% endif %}"
                           href="{% url 'users:admin:schedule:student_schedule' %}">
                            <i class="fas fa-table"></i>
                            <span>Расписание</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/users/administrator/courses/lesson/answers/' %}active{% endif %}"
                           href="{% url 'users:admin:courses:answers_view' %}">
                            <i class="fas fa-envelope"></i>
                            <span>Лента ответов</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/users/administrator/profile/' %}active{% endif %}"
                           href="{% url 'users:admin:profile:profile' %}">
                            <i class="far fa-sun"></i>
                            <span>Настройки</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/admin/' %}active{% endif %}"
                           href="{% url 'admin:index' %}">
                            <i class="fas fa-user-circle"></i>
                            <span>Админ панель</span>
                        </a>
                    </li>

                </ul>
                <div class="text-center d-none d-md-inline"><a href="{% url 'stransit:index' %}">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </a></div>
            </div>
        </nav>
        <script src="{% static 'admin/js/script.min.js' %}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const sidebarToggle = document.getElementById("sidebarToggle");
                const sidebar = document.getElementById("sidebar");

                sidebarToggle.addEventListener("click", function () {
                    sidebar.classList.toggle("collapsed");
                });
            });
        </script>

    {% endblock %}


    {% block content %}
        <script src="{% static 'admin/js/script.min.js' %}"></script>
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="{% static 'admin/js/script.min.js' %}"></script>
</body>


</html>