{% extends 'users/admin/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap">
  {% block css %}<link rel="stylesheet" href="{% static 'admin/css/mainAfterSignUpAdmin.css' %}">{% endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/slider-slick.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/140219e2b5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="all_page">
        {% block content %}
            <div class="content">

                <div class="training_sectors">

                <h2 class="training_sectors_h2">Курсы</h2>

                <!-- training_sectors_images -->
                <div class="training_sectors_images training_slider_cources">
                {% for c in courses %}
                <a href="{% url 'stransit:users:student:courses:modules' c.pk %}">
                  <div class="training_sectors_indusrial">
                    <div class="aviation-img rel">
                      <div class="course-info">
                        <div class="course-type">
                          <h3>{{ c.title|truncatechars:10 }}</h3>
                        </div>
                        <button class="course-minutes">
                          {{ c.duration }} min
                        </button>
                      </div>
                      <img src="{% static 'admin/img/Mask Group.png' %}" alt="">
                      <div class="aviation-text-industry">
                        <p>{{ c.description|truncatechars:80 }}</p>
                      </div>
                    </div>
                  </div>
                </a>
                {% endfor %}
                </div>

              </div>
            </div>
                  </div>
              </div>
              </div>

              </div>
              </div>
              </div>
        {% endblock %}
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'admin/js/slider-slick.js' %}"></script>
<script src="{% static 'admin/js/side-bar.js' %}"></script>
<script src="{% static 'admin/js/slider.js' %}"></script>
</html>
