{% extends 'users/admin/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/timeTableAdmin.css' %}">
    {% endblock %}
    <title>Расписание</title>
</head>
<body>
    <div class="all-page">
        {% block content %}
            <div class="content">
                <h1 class="page-title" style="text-align: center; margin-top: 30px">Расписание</h1>

                {% for group in grouped_schedules %}
                    <div style="padding: 10px">
                        <table class="schedule-table">
                            <thead>
                                <tr>
                                    <th colspan="2" class="course-title"><b>{{ group.course.title }}</b></th>
                                </tr>
                                <tr>
                                    <th>День недели</th>
                                    <th>Время</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for schedule in group.schedules %}
                                <tr>
                                    <td>{{ schedule.get_weekdays_display }}</td>
                                    <td>{{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                {% if user_role == 'admin' %}
                    <a href="#" class="add-course-button">Добавить курс</a>
                {% endif %}
            </div>
        {% endblock %}
    </div>
</body>
</html>
